{#
fila        Número de la Fila
formato     Formato CPIC a mostrar
cm          Contenedor Mercancia a mostrar
#}
{% set pk = cm.id is defined?cm.id:' ' %}
{% set dataWith = {
    entityName:     "contenedorMercanciaFormato",
    bundleName:     "formatos" ,
    required:       "NoVacio,Numeros",
    pk:             pk,
} %}
<tr id="contenedor-mercancia{{ fila }}" class="{{ fila is odd?'even':'odd' }}">
    <td colspan="2" class="text-center valor-contenedor-mercancia">
        <div class="row">
            <div>
                <div id="opciones-contenedor-mercancia{{ fila }}" class="opciones-filas opciones-conenedor-mercancia no-quitar {{ formato.tipo.abreviacion == 'cpic'?'text-right pull-left btns-action-left':'text-right pull-left btns-action-left' }} {{ formato.id is not empty?'mas':'' }}">
                    {% set botons = [
                            {
                                'class' :   'eliminar contenedor-mercancia' ~ fila ~ ' animate pull-right',
                                'type'  :   'danger',
                                'label' :   '<span class="glyphicon glyphicon-trash"></span>',
                            },
                            {
                                'class' :   'reset contenedor-mercancia' ~ fila ~ '-crear animate pull-right',
                                'type'  :   'warning',
                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                'url'   :   url('contenedorMercanciaFormato_reset_tipo_ajax_',{
                                                numero: formato.numero,
                                                pk: pk,
                                                fila: fila,
                                                str_tipo: formato.tipo.abreviacion,
                                            }),
                            },
                            {
                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                'type'  :   'primary',
                                'class' :   'guardar contenedor-mercancia' ~ fila ~ '-crear animate pull-right animate ' ~ (pk != ' '?'out':'in'),
                                'url'   :   url('contenedorMercanciaFormato_add_tipo_ajax',{
                                                numero: formato.numero,
                                                str_tipo: formato.tipo.abreviacion,
                                            }),
                            },
                            {
                                'label' :   '<span class="glyphicon glyphicon-eye-open"></span>',
                                'type'  :   'success',
                                'class' :   'contenedor-mercancia' ~ fila ~ '-crear animate pull-right carga-modal animate ' ~ (pk != ' '?'in':'out'),
                                'url'   :   url('contenedorMercanciaFormato__edit',{
                                                id: pk,
                                            }),
                            }
                        ] %}
                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                        buttonset: 'horizontal',
                        class: 'animate in',
                        botones  : botons,
                        sizing: 'mediano',
                    } %}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "num_bultos_contenedor_mercancia_formato",
                    clase:          'contenedor-mercancia' ~ fila ~ '-crear',
                    name:           "numBultos",
                    originalTitle:  "Cantidad de Bultos",
                    emptyText:  "Cantidad",
                    valor:          pk != ' '?cm.numBultos:'',
                }) %}  
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "clase_bultos_contenedor_mercancia_formato",
                    clase:          'contenedor-mercancia' ~ fila ~ '-crear',
                    name:           "clase",
                    required:       "NoVacio,Letras",
                    originalTitle:  "Clase de Bultos",
                    emptyText:      "Clase",
                    valor:          pk != ' '?cm.bulto.clase:'',
                    prefetch:       url('list_typeahead_contenedorMercanciaFormato_',{ 'name' : 'clase' }),
                    type:           'typeaheadjs'
                }) %}
            </div>
        </div>
    </td>
    <td colspan="1" class="text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "clase_bultos_contenedor_mercancia_formato",
                    clase:          'contenedor-mercancia' ~ fila ~ '-crear',
                    name:           "marca",
                    required:       "NoVacio,Letras",
                    originalTitle:  "Marca de los Bultos",
                    emptyText:      "Marca",
                    valor:          pk != ' ' and cm.bulto is defined?cm.bulto.marca:'',
                    prefetch:       url('list_typeahead_contenedorMercanciaFormato_',{ 'name' : 'marca' }),
                    type:           'typeaheadjs'
                }) %}
            </div>
        </div>
    </td>
    <td colspan="5" class="text-center">
        <div class="row">
            <div class="col-lg-10 col-md-10 text-justify col-md-offset-1 col-lg-offset-1">
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "descripcion_mercancia_contenedor_mercancia_formato",
                    clase:          'contenedor-mercancia' ~ fila ~ '-crear',
                    name:           "descripcion",
                    required:       "NoVacio,NumerosLetrasConectores",
                    originalTitle:  "Descripción de la Mercancía",
                    emptyText:      "Descripción",
                    valor:          pk != ' ' and cm.mercancia is defined?cm.mercancia.descripcion:'',
                    prefetch:       url('list_typeahead_contenedorMercanciaFormato_',{ 'name' : 'descripcion' }),
                    type:           'typeaheadjs'
                }) %}
            </div>
        </div>
    </td>
</tr>
{#<tr class="{{ fila is odd?'even':'odd' }}">
    <td colspan="8" class="animate out">
        ok
    </td>
</tr>#}