{#
abreviacion Formato dónde agregar la entidad
numero      Número del Formato dónde agregar la entidad
entidad     Entidad de rol "rol" que está en el formato
rol        Nombre del rol de la entidad en el formato
fila        Número de la fila de la entidad
#}
{% set rol = rol|lower %}
{% set usuario = entidad is defined and entidad is not empty and entidad.usuario is not empty?entidad.usuario:null %}
<div class="row {{abreviacion|lower == 'factura'?'row-view-buttons':'row-view-buttons'}}" id="entidad{{fila ~ '-' ~ rol}}-crear">
    {% set pk = usuario is not null and usuario.id is not empty?usuario.id:' ' %}
    <div>
        <div class="{{ abreviacion|lower == 'factura'?'text-left pull-right btns-action-right':'text-right pull-left btns-action-left' }}">
            {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                'buttonset': 'horizontal',
                'class': 'animate in',
                'botones'  : [
                    {
                        'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                        'type'  :   'primary',
                        'class' :   'entidad' ~ fila ~ '-' ~ rol ~'-crear animate guardar ' ~ (pk == ' '?'in':'out'),
                        'url'   :   url('entidad_add_cpic_ajax_',{
                                        abreviacion: abreviacion,
                                        numero: numero,
                                        rol: rol,
                                        fila: fila,
                                    }),
                    },
                    {
                        'class' :   'eliminar  entidad' ~ fila ~ '-' ~ rol ~'-crear animate',
                        'type'  :   'danger',
                        'label' :   '<span class="glyphicon glyphicon-trash"></span>',
                    },
                    {
                        'class' :   'reset entidad' ~ fila ~ '-' ~ rol ~'-crear animate',
                        'type'  :   'warning',
                        'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                        'url'   :   url('entidad_add_cpic_ajax_reset_',{
                                        numero: numero,
                                        rol: rol,
                                        fila: fila,
                                        abreviacion: abreviacion|upper,
                                    }),
                    },
                ],
                'sizing': 'pequeño',
            } %}
        </div>
    </div>
    <div class="col-lg-12">
        {% set dataWith = {
            id:             "entidad_" ~ rol ~"_ _" ~ fila,
            clase:          "entidad" ~ fila ~ "-"~ rol ~ "-crear",
            name:           "",
            placement:      abreviacion|lower == 'factura'?"bottom":'top',
            pk:             pk,
            datos:          {tipo: abreviacion|upper},
            originalTitle:  " " ~ rol | title ,
            entityName:     "usuario",
            bundleName:     "usuarios" ,
            emptyText:      "",
            required:       "",
            valor:          '',
            type:           'typeaheadjs',
            prefetch:       url('list_typeahead_entidades_',{name: 'id'}),
        } %}
        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith | merge({
            id:             "entidad_" ~ rol ~"_razon_social_" ~ fila,
            name:           "nombre",
            originalTitle:  "Nombre o Razón Social " ~ rol | title ,
            emptyText:      "Nombre o Razón Social " ~ rol | title,
            required:       "NoVacio,LetrasNumerosConectores",
            valor:          pk != ' '?usuario.nombre:'',
            prefetch:       url('list_typeahead_entidades_',{name: 'nombre'}),
        }) %}
        {{ abreviacion|lower == 'factura'?'<br/>':' - NIT. ' }}
        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith | merge({
            id:             "entidad_" ~ rol ~"_nit_" ~ fila,
            name:           "docId",
            originalTitle:  "NIT " ~ rol | title ,
            emptyText:      "NIT " ~ rol | title,
            required:       "NoVacio,NumerosConectores",
            valor:          pk != ' '?usuario.docId:'',
            prefetch:       url('list_typeahead_entidades_',{name: 'docId'}),
        }) %}
    </div>
    <div class="col-lg-12">
        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith | merge({
            id:             "entidad_" ~ rol ~"_direccion_" ~ fila,
            name:           "direccion",
            originalTitle:  "Dirección " ~ rol | title ,
            emptyText:      "Dirección " ~ rol | title,
            required:       "Vacio,NumerosLetrasConectores",
            valor:          pk != ' '?usuario.direccion:'',
            prefetch:       url('list_typeahead_entidades_',{name: 'direccion'}),
        }) %}
        {{ abreviacion|lower == 'factura'?'<br/>':' - ' }} 
         {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith | merge({
            id:             "entidad_" ~ rol ~"_lugar_" ~ fila,
            name:           "lugar",
            pk:             usuario is not null and usuario.entidad is defined and usuario.entidad.id is not empty?usuario.entidad.id:' ',
            originalTitle:  "Lugar " ~ rol | title ,
            emptyText:      "Lugar " ~ rol | title,
            required:       "Vacio,LetrasConectores",
            valor:          usuario is not null and usuario.entidad.lugar is defined ?usuario.entidad.lugar:'',
            prefetch:       url('list_typeahead_entidades_',{name: 'lugar'}),
        }) %}
    </div>
</div>