
<div class="hoja_carta_formato print">
    <div class="margen">
        {% set col_w = formato.id is not defined or formato.id is empty?10:12 %}
        {% if formato.id is not defined or formato.id is empty %}
        <div class="row">
            <div>
                <div class="text-right pull-right hidden-print">
                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                        buttonset: 'horizontal',
                        class: 'animate in hidden-print',
                        botones  : [
                            {
                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                'type'  :   'primary',
                                'class' :   'guardar formato-crear animate',
                                'url'   :   url('formato_save_ajax',{tipo: formato.tipo.abreviacion|upper}),
                            },
                            {
                                'class' :   'reset formato-crear animate',
                                'type'  :   'warning',
                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                            },
                        ],
                        sizing: 'mediano',
                    } %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="text-center hidden-print">
            {% set dataWith = {
                id:             "formato_nombre",
                clase:          "formato-crear",
                placement:      "bottom",
                name:           "nombre",
                pk:             formato.id,
                datos:          {tipo: formato.tipo.abreviacion|upper},
                originalTitle:  "Nombre del Formato",
                entityName:     "formato",
                bundleName:     "formatos" ,
                emptyText:      "Nombre del Formato " ~ formato.tipo.abreviacion|upper,
                placeholder:    "Nombre del Formato " ~ formato.tipo.abreviacion|upper, 
                required:       "NoVacio,NumerosLetras",
                valor:          formato.nombre,
            } %}
            <h4>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
            </h4>
        </div>
        <div class="text-justify hidden-print">
            <p>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "formato_descripcion",
                    clase:          "formato-crear",
                    name:           "descripcion",
                    type:           "textarea",
                    emptyText:      "Descripcion del Formato " ~ formato.tipo.abreviacion|upper,
                    placeholder:    "Descripcion del Formato " ~ formato.tipo.abreviacion|upper, 
                    required:       "NoVacio,NumerosLetrasConectores",
                    valor:          formato.descripcion,
                }) %}
            </p>
        </div>
        {% set data = {
            'num':      0,
            'salida':   false,
            'partida':  false,
            'destino':  false,
        } %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            salida: true,
            partida:true,
        }) %}
        {# 1 #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    1,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    1,
            salida: true,
        }) %}
        {# 2 #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    2,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    2,
            salida: true,
        }) %}
        {# 3 #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    3,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    3,
            salida: true,
        }) %}
        {# destino #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    4,
            destino: true,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    4,
            salida: true,
            destino: true,
        }) %}
{#
        <table class="table table-bordered table-striped">
            <tbody>
                <tr class="">
                    <td rowspan="2" colspan="6" class="logo text-center">
                    </td>
                    <td colspan="6" class="text-center title">
                        {{- formato.tipo.nombre|title -}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        N° 
                        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                            id:             "numero_formato",
                            clase:          "formato-crear",
                            name:           "numero",
                            originalTitle:  "Digite Número",
                            emptyText:      "Número de" ~ formato.tipo.abreviacion|upper,
                            placeholder:    "Número " ~ formato.tipo.abreviacion|upper, 
                            required:       "NoVacio,Numeros",
                            valor:          formato.numero,
                        }) %}
                    </td>
                </tr>
                <tr class="">
                    <td colspan="12" class="logo text-center">
                        <div class="row">
                            <div class="enunciado text-right col-lg-12 col-md-12">
                                Fecha 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "numero_formato",
                                    clase:          "formato-crear",
                                    name:           "fechaCreado",
                                    originalTitle:  "Fecha",
                                    emptyText:      "Fecha",
                                    placeholder:    "Fecha", 
                                    required:       "NoVacio,Numeros",
                                    type:           "date",
                                    valor:          formato.fechaCreado,
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar remitentes',
                                                    'url'   :   url('entidad_add_remesa_ajax',{
                                                                    rol:    'remitente',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                Remitente
                            </div>
                        </div>
                        <div id="remitentes">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for remitente in formato.remitentes %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        remitente,
                                            rol:            'remitente',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadRemesaAjax',{
                                                numero:         formato.numero,
                                                rol:            'remitente',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar destinatarios',
                                                    'url'   :   url('entidad_add_remesa_ajax',{
                                                                    rol:    'destinatario',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                Destinatario
                            </div>
                        </div>
                        <div id="destinatarios">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for destinatario in formato.destinatarios %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        destinatario,
                                            rol:            'destinatario',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadRemesaAjax',{
                                                numero:         formato.numero,
                                                rol:            'destinatario',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-left title">
                        Datos Importantes
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                No. Factura 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "numero_formato",
                                    clase:          "formato-crear",
                                    name:           "fechaCreado",
                                    originalTitle:  "Número de Factura",
                                    emptyText:      "No. Factura",
                                    placeholder:    "No. Factura", 
                                    required:       "Vacio,Numeros",
                                    type:           "number",
                                    valor:          ' ',
                                }) %}
                            </div>
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                No. Carta
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "numero_formato",
                                    clase:          "formato-crear",
                                    name:           "fechaCreado",
                                    originalTitle:  "Número de Carta",
                                    emptyText:      "No. Carta",
                                    placeholder:    "No. Carta", 
                                    required:       "Vacio,Numeros",
                                    type:           "number",
                                    valor:          ' ',
                                }) %}
                            </div>
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                No. Manifiesto
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "numero_formato",
                                    clase:          "formato-crear",
                                    name:           "fechaCreado",
                                    originalTitle:  "Número de Manifiesto",
                                    emptyText:      "No. Manifiesto",
                                    placeholder:    "No. Manifiesto", 
                                    required:       "Vacio,Numeros",
                                    type:           "number",
                                    valor:          ' ',
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                Por Conducto
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                Fletes
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                Destino
                            </div>
                            <div id="destino">
                                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                    {% for ad in formato.aduanasDestino %}
                                        {{ include('PuertoUDESCommonBundle:Aduana:_addAduanaMciAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                aduana:         ad,
                                                tipo:            'destino',
                                                fila:           loop.index0,
                                            })
                                        }}
                                    {% else %}
                                        {{ include('PuertoUDESCommonBundle:Aduana:_addAduanaMciAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                tipo:            'destino',
                                                fila:           0,
                                            }) 
                                        }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <div class="text-right pull-right btns-action-left no-quitar">
                            {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                buttonset: 'horizontal',
                                class: 'animate in',
                                botones  : [
                                    {
                                        'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                        'type'  :   'primary',
                                        'class' :   'guardar conductor-principal-crear animate ' ~ (formato.conductores is empty or (formato.conductores|first).conductor is empty?'in':'out'),
                                        'url'   :   url('conductor_save_ajax',{
                                                        tipo_conductor: 'Principal',
                                                        tipo: formato.tipo.abreviacion|upper,
                                                        numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                    }),
                                    },
                                    {
                                        'class' :   'reset conductor-principal-crear animate',
                                        'type'  :   'warning',
                                        'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                    },
                                ],
                                sizing: 'pequeño',
                            } %}
                        </div>
                        <div class="text-left title">
                            Datos del Conductor
                        </div>
                        {% set c1 = formato.conductores is not empty?formato.getConductor('principal'):formato.conductores %}
                        {% set dataWith = {
                            id:             'conductor_principal_nombre',
                            clase:          'conductor_auxiliar_crear',
                            placement:      'top',
                            name:           'nombre',
                            pk:             c1 is not empty and c1.id is defined?c1.id:' ',
                            originalTitle:  "Nombres del Conductor Principal",
                            emptyText:      "Nombres",
                            entityName:     "conductor",
                            bundleName:     "usuarios" ,
                            required:       "NoVacio,Letras",
                            valor:          c1 is not empty and c1.nombre is defined?c1.nombre:' ',
                            prefetch:       url('list_typeahead_conductores_',{name: 'nombre'}),
                            type:           'typeaheadjs',
                        } %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Documento de Identidad
                        <div class="col-xs-12">
                            {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                id:             'conductor_principal_docId',
                                name:           'docId',
                                originalTitle:  "Documento de Identidad del Conductor",
                                emptyText:      "Documento de Identidad",
                                required:       "NoVacio,NumerosConectores",
                                valor:          c1 is not empty and c1.docId is defined?c1.docId:' ',
                                prefetch:       url('list_typeahead_conductores_',{name: 'docId'}),
                            }) %}
                        </div>
                    </td>
                    <td colspan="6">
                        Nombre del Conductor
                        <div class="col-xs-12">
                            {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                id:             'conductor_principal_apellido',
                                name:           'apellido',
                                originalTitle:  "Apellidos del Conductor Principal",
                                emptyText:      "Apellidos",
                                required:       "NoVacio,Letras",
                                valor:          c1 is not empty and c1.apellido is defined?c1.apellido:' ',
                                prefetch:       url('list_typeahead_conductores_',{name: 'apellido'}),
                            }) %}
                        </div>
                    </td>
                    <td colspan="3">
                        Placa del Vehiculo
                        {% set vh = formato.conductores is not empty?(formato.conductores|first).vehiculo:formato.conductores %}
                        {% set dataWith = {
                            id:             'vehiculo_marca',
                            clase:          'vehiculo-crear',
                            placement:      'top',
                            name:           'marca',
                            pk:             vh is defined and vh.id is defined?vh.id:' ',
                            originalTitle:  "Marca del Vehiculo",
                            emptyText:      "Marca",
                            entityName:     "vehiculo",
                            bundleName:     "common" ,
                            required:       "NoVacio,NumerosLetras",
                            valor:          vh is not empty and vh.marca is defined?vh.marca:' ',
                            prefetch:       url('list_typeahead_vehiculos_',{name: 'marca'}),
                            type:           'typeaheadjs',
                        } %}
                        <div class="col-xs-12">
                            {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                id:             'vehiculo_placa',
                                name:           'placa',
                                originalTitle:  "Placa del Vehiculo",
                                emptyText:      "Placa",
                                required:       "NoVacio,NumerosLetrasConectores",
                                valor:          vh is not empty and vh.placa is defined?vh.placa:' ',
                                prefetch:       url('list_typeahead_vehiculos_',{name: 'placa'}),
                            }) %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <table class="table table-bordered table-striped" id="pad-contenedor">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <div class="row">
                                            <div>
                                                <div class="text-right pull-left fuera btns-action-left">
                                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                                        'buttonset': 'horizontal',
                                                        'class': 'animate in',
                                                        'botones'  : [
                                                            {
                                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                                'type'  :   'success',
                                                                'class' :   'animate agregar contenedores-mercancias-formato',
                                                                'url'   :   url('contenedorMercanciaFormato_add_cpic_ajax',{
                                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                            }),
                                                            },
                                                        ],
                                                        'sizing': 'pequeño',
                                                    } %}
                                                </div>
                                            </div>
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Catidad y clase de los bultos
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="1">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Marca y número de los bultos
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="5">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Mercancía
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="contenedores-mercancias-formato">
                                {% set dataWith = dataWith|merge({url:''}) %}
                                {% if formato.contenedoresMercancias is defined and formato.contenedoresMercancias is not empty %}
                                    {% for cm in formato.contenedoresMercancias %}
                                        {{ include('PuertoUDESFormatosBundle:Formato:_addContenedorMercanciaAjax.html.twig',{
                                                fila:       loop.index0,
                                                formato:    formato,
                                                cm:         cm,
                                            }) 
                                        }}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                El Transportador
                            </div>
                        </div>
                        <div id="transportistas">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% if formato.transportista %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        formato.transportista,
                                            rol:            'transportista',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadRemesaAjax',{
                                            numero:         formato.numero,
                                            rol:            'transportista',
                                            fila:           0,
                                        }))
                                    }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                Instrucciones Especiales
                            </div>
                        </div>
                        <div id="transportistas">
                            {% set dataWith = {
                                clase:      "instrucciones",
                                entityName: "formato",
                                bundleName: "formatos" ,
                                type:       "textarea",
                                required:   "Vacio,LetrasNumerosConectores",
                                pk:         formato.id is defined and formato.id is not empty?formato.id:' ',
                                datos:      {
                                    numero: formato.numero,
                                    tipo: formato.tipo,
                                },
                            } %}
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "formato_instrucciones",
                                    name:           "Instrucciones",
                                    originalTitle:  "Instrucciones Especiales",
                                    emptyText:      "Instrucciones",
                                    valor:          formato.observaciones is defined and formato.observaciones is not empty?formato.observaciones:' ',
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                Observaciones al Recibo
                            </div>
                        </div>
                        <div id="transportistas">
                            {% set dataWith = {
                                clase:      "observaciones",
                                entityName: "formato",
                                bundleName: "formatos" ,
                                type:       "textarea",
                                required:   "Vacio,LetrasNumerosConectores",
                                pk:         formato.id is defined and formato.id is not empty?formato.id:' ',
                                datos:      {
                                    numero: formato.numero,
                                    tipo: formato.tipo,
                                },
                            } %}
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "formato_observaciones",
                                    name:           "Observaciones",
                                    originalTitle:  "Observaciones al Recibo",
                                    emptyText:      "Observaciones",
                                    valor:          formato.observaciones is defined and formato.observaciones is not empty?formato.observaciones:' ',
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>    
#}
    </div>
</div>