
<div class="hoja_carta_formato print">
    <div class="margen">
        {% set col_w = formato.id is not defined or formato.id is empty?10:12 %}
        {% if formato.id is not defined or formato.id is empty %}
        <div class="row">
            <div>
                <div class="text-right pull-right hidden-print">
                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                        buttonset: 'horizontal',
                        class: 'animate in hidden-print',
                        botones  : [
                            {
                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                'type'  :   'primary',
                                'class' :   'guardar formato-crear animate',
                                'url'   :   url('formato_save_ajax',{tipo: formato.tipo.abreviacion|upper}),
                            },
                            {
                                'class' :   'reset formato-crear animate',
                                'type'  :   'warning',
                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                            },
                        ],
                        sizing: 'mediano',
                    } %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="text-center hidden-print">
            {% set dataWith = {
                id:             "formato_nombre",
                clase:          "formato-crear",
                placement:      "bottom",
                name:           "nombre",
                pk:             formato.id,
                datos:          {tipo: formato.tipo.abreviacion|upper},
                originalTitle:  "Nombre del Formato",
                entityName:     "formato",
                bundleName:     "formatos" ,
                emptyText:      "Nombre del Formato " ~ formato.tipo.abreviacion|upper,
                placeholder:    "Nombre del Formato " ~ formato.tipo.abreviacion|upper, 
                required:       "NoVacio,NumerosLetras",
                valor:          formato.nombre,
            } %}
            <h4>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
            </h4>
            <h5>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "formato_padre",
                    clase:          "formato-crear",
                    placement:      "bottom",
                    name:           "padre",
                    pk:             formato.id,
                    datos:          {tipo: formato.tipo.abreviacion|upper},
                    originalTitle:  "Padre del Formato " ~ formato.tipo.abreviacion|upper,
                    entityName:     "formato",
                    bundleName:     "formatos" ,
                    emptyText:      "Padre" ~ formato.tipo.abreviacion|upper,
                    required:       "Vacio,Numeros",
                    valor:          formato.padre is defined and formato.padre is not empty?formato.padre.nombre:'',
                }) %}
            </h5>
        </div>
        <div class="text-justify hidden-print">
            <p>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "formato_descripcion",
                    clase:          "formato-crear",
                    name:           "descripcion",
                    type:           "textarea",
                    emptyText:      "Descripcion del Formato " ~ formato.tipo.abreviacion|upper,
                    placeholder:    "Descripcion del Formato " ~ formato.tipo.abreviacion|upper, 
                    required:       "NoVacio,NumerosLetrasConectores",
                    valor:          formato.descripcion,
                }) %}
            </p>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr class="">
                    <td rowspan="2" colspan="6" class="logo text-center">
                        <img src="{{- asset("bundles/puertoudescommon/images/comunidad_andina.jpeg")-}}" alt="Comunidad Andina">
                    </td>
                    <td colspan="6" class="text-center title">
                        {{- formato.tipo.nombre|title ~ ' (' ~ formato.tipo.abreviacion|upper ~ ')' -}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        N° 
                        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                            id:             "numero_formato",
                            clase:          "formato-crear",
                            name:           "numero",
                            originalTitle:  "Digite Número",
                            emptyText:      "Número de" ~ formato.tipo.abreviacion|upper,
                            placeholder:    "Número " ~ formato.tipo.abreviacion|upper, 
                            required:       "NoVacio,Numeros",
                            valor:          formato.numero,
                        }) %}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                {#<div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                    'type'  :   'primary',
                                                    'class' :   'entidad-crear animate guardar ' ~ (formato.transportista is not defined or formato.transportista.id is not defined?'in':'out'),
                                                    'url'   :   url('entidad_save_transportista_ajax',{
                                                                    tipo: formato.tipo.abreviacion|upper,
                                                                    numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                }),
                                                },
                                                {
                                                    'class' :   'reset entidad-crear animate',
                                                    'type'  :   'warning',
                                                    'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>#}
                                1- Denominación o razón social del transportista autorizado
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set pk = formato.transportista is defined and formato.transportista.usuario is defined?formato.transportista.usuario.id:' ' %}
                                {% set dataWith = {
                                    id:             "entidad_razon_social",
                                    clase:          "entidad-crear",
                                    name:           "nombre",
                                    pk:             pk,
                                    datos:          {tipo: formato.tipo.abreviacion|upper},
                                    originalTitle:  "Nombre o Razón Social del Transportista",
                                    entityName:     "usuario",
                                    bundleName:     "usuarios" ,
                                    emptyText:      "Razón Social",
                                    required:       "Vacio,LetrasConectores",
                                    valor:          pk != ' '?formato.transportista.nombre:'',
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            </div>
                            <div class="col-lg-12">
                                NIT. 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_nit",
                                    clase:          "entidad-crear",
                                    name:           "doc_id",
                                    originalTitle:  "NIT del Transportista",
                                    emptyText:      "NIT",
                                    required:       "NoVacio,NumerosConectores",
                                    valor:          pk != ' '?formato.transportista.docId:'',
                                }) %}
                            </div>
                            <div class="col-lg-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_direccion",
                                    clase:          "entidad-crear",
                                    name:           "direccion",
                                    originalTitle:  "Dirección del Transportista",
                                    emptyText:      "Dirección",
                                    required:       "Vacio,NumerosLetrasConectores",
                                    valor:          pk != ' '?formato.transportista.direccion:'',
                                }) %} - Telfs. 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_telefono",
                                    clase:          "entidad-crear",
                                    name:           "telefono",
                                    originalTitle:  "Teléfono del Transportista",
                                    emptyText:      "Teléfono",
                                    required:       "Vacio,NumerosConectores",
                                    valor:          pk != ' '?formato.transportista.telefono:'',
                                }) %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_lugar",
                                    clase:          "entidad-crear",
                                    name:           "lugar",
                                    originalTitle:  "Lugar del Transportista",
                                    emptyText:      "Lugar",
                                    required:       "Vacio,LetrasConectores",
                                    valor:          pk != ' '?formato.transportista.lugar:'',
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right  btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar notificados',
                                                    'url'   :   url('entidad_add_cpic_ajax',{
                                                                    rol:    'notificado',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                5- Notificar a
                            </div>
                            <div id="notificados">
                                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                    {% for notificado in formato.notificados %}
                                        {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                entidad:        notificado,
                                                rol:            'notificado',
                                                fila:           loop.index0,
                                            }) 
                                        }}
                                    {% else %}
                                        {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                            {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                    numero:         formato.numero,
                                                    rol:            'notificado',
                                                    fila:           0,
                                                }))
                                            }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                6- Lugar, País y Fecha que el transportista recibe las mercancias
                            </div>
                        </div>
                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                dmf:            formato.datosRecibe is defined?formato.datosRecibe:null,
                                tipo:            'recibe',
                            }) 
                        }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar remitentes',
                                                    'url'   :   url('entidad_add_cpic_ajax',{
                                                                    rol:    'remitente',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                2- Nombre y Dirección del Remitente
                            </div>
                        </div>
                        <div id="remitentes">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for remitente in formato.remitentes %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        remitente,
                                            rol:            'remitente',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'remitente',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                7- Lugar, País y Fecha de Embarque de las Mercancías
                            </div>
                        </div>
                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                dmf:            formato.datosEmbarque is defined?formato.datosEmbarque:null,
                                tipo:            'embarque',
                            }) 
                        }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar destinatarios',
                                                    'url'   :   url('entidad_add_cpic_ajax',{
                                                                    rol:    'destinatario',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                3- Nombre y Dirección del Destinatario
                            </div>
                        </div>
                        <div id="destinatarios">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for destinatario in formato.destinatarios %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        destinatario,
                                            rol:            'destinatario',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'destinatario',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                8- Lugar, País y Fecha de Convenida para la entrega de las Mercancías
                            </div>
                        </div>
                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                dmf:            formato.datosEntrega is defined?formato.datosEntrega:null,
                                tipo:            'entrega',
                            }) 
                        }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar consignatarios',
                                                    'url'   :   url('entidad_add_cpic_ajax',{
                                                                    rol:    'consignatario',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                4- Nombre y Dirección del Consignatario
                            </div>
                        </div>
                        <div id="consignatarios">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for consignatario in formato.consignatarios %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        consignatario,
                                            rol:            'consignatario',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'consignatario',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6" class="text-center">
                        <div class="row">
                            <div class="enunciado text-left col-lg-12 col-md-12">
                                9- Condiciones de Transporte y Condiciones de Pago
                            </div>
                        </div>
                        {% set dataWith = {
                            name:           "condicion",
                            url:            'condiciones_add_cpic_ajax_',
                            entityName:     "condicion",
                            bundleName:     "formatos" ,
                            type:           "textarea",
                            required:       "NoVacio,Letras",
                        } %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                {% set condicion = formato.condicionesTransporte is defined and formato.condicionesTransporte is not empty ?formato.condicionesTransporte:'' %}
                                {% set pk = condicion is not empty ?condicion.id:' ' %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    clase:          "condicion-crear-transporte",
                                    id:             "condiciones_transporte",
                                    pk:             pk,
                                    datos:          {
                                                        numero: formato.numero,
                                                        tipo: 'transporte',
                                                    },
                                    originalTitle:  "Condiciones de Transporte",
                                    valor:          condicion is not empty?condicion.condicion:'',
                                }) %}
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {% set condicion = formato.condicionesPago is defined and formato.condicionesPago is not empty ?formato.condicionesPago:'' %}
                                {% set pk = condicion is not empty ?condicion.id:' ' %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    clase:          "condicion-crear-pago",
                                    id:             "condiciones_pago",
                                    pk:             pk,
                                    datos:          {
                                                        numero: formato.numero,
                                                        tipo: 'pago',
                                                    },
                                    originalTitle:  "Condiciones de Pago",
                                    type:           "textarea",
                                    valor:          condicion is not empty?condicion.condicion:'',
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table class="table table-bordered table-striped" id="pad-contenedor">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <div class="row">
                                            <div>
                                                <div class="text-right pull-left fuera btns-action-left">
                                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                                        'buttonset': 'horizontal',
                                                        'class': 'animate in',
                                                        'botones'  : [
                                                            {
                                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                                'type'  :   'success',
                                                                'class' :   'animate agregar contenedores-mercancias-formato',
                                                                'url'   :   url('contenedorMercanciaFormato_add_cpic_ajax',{
                                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                            }),
                                                            },
                                                        ],
                                                        'sizing': 'pequeño',
                                                    } %}
                                                </div>
                                            </div>
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                10- Catidad y clase de los bultos
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="1">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                11- Marca y número de los bultos
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="5">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                12- Descripción corriente de la naturaleza de las mercancías (indicar si son peligrosas)
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="contenedores-mercancias-formato">
                                {% set dataWith = dataWith|merge({url:''}) %}
                                {% if formato.contenedoresMercancias is defined and formato.contenedoresMercancias is not empty %}
                                    {% for cm in formato.contenedoresMercancias %}
                                        {{ include('PuertoUDESFormatosBundle:Formato:_addContenedorMercanciaAjax.html.twig',{
                                                fila:       loop.index0,
                                                formato:    formato,
                                                cm:         cm,
                                            }) 
                                        }}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                    <td colspan="2">
                        <table class="table table-bordered table-striped" id="cpics">
                            <tbody>
                                <tr>
                                    <th colspan="4" class="text-center">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12 text-center">
                                                13- Peso en Kilogramos
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12 text-center">
                                                Bruto
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12 text-center">
                                                Neto
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <span class="imita" data-name="pesoBruto">
                                                    {{ pk is not empty?formato.getTotalPesoBruto:'' }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <span class="imita" data-name="pesoNeto">
                                                    {{ pk is not empty?formato.getTotalPesoNeto:'' }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                14- Volumen en metros cúbicos
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <span class="imita {{ pk is not empty and formato.getTotalVolumen != 0?'':'editable-empty' }}" data-name="volumen">
                                                    {{ pk is not empty and formato.getTotalVolumen != 0?formato.getTotalVolumen:'volumen' }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                15- Otras unidades de medida
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <span class="imita {{ pk is not empty and formato.getTotalVolumenOtro != 0?'':'editable-empty' }}" data-name="volumenOtro">
                                                    {{ pk is not empty and formato.getTotalVolumenOtro != 0?formato.getTotalVolumenOtro:'volumen' }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                16- Precios de las Mercancías (INCOTERMS 2010) y tipo de monedas
                                            </div>
                                        </div>
                                        {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                            {% set datosGasto = {
                                                        abreviacion:    formato.tipo.abreviacion|upper,
                                                        numero:         formato.numero,
                                                        tipo:            'Mercancia',
                                                    } %}
                                            {% if formato.gastoMercancias is defined and formato.gastoMercancias is not empty %}
                                                {% set datosGasto = datosGasto|merge({
                                                        gasto:            formato.gastoMercancias|first,
                                                    })
                                                %}
                                            {% endif %}
                                            {{ include('PuertoUDESFormatosBundle:Gasto:_addGastoAjax.html.twig',datosGasto) }}
                                        {% endif %}
                                        {% set pk = formato is defined and formato.id is not empty? formato.id:' '%}
                                        {% set dataWith = {
                                            clase:          "incoterm",
                                            entityName:     "formato",
                                            bundleName:     "formatos" ,
                                            required:       "NoVacio,Letras",
                                            pk:             pk,
                                            datos:          {
                                                            numero: formato.numero,
                                                            tipo: formato.tipo,
                                                        },
                                        } %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                                    id:             "incoterm_formato",
                                                    name:           "incoterm",
                                                    originalTitle:  "INCOTERM 2010",
                                                    emptyText:      "INCOTERM",
                                                    valor:          formato.incoterm is not empty?formato.incoterm:'',
                                                }) %} 
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr colspan="12">
                    <td colspan="6">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="12" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                17- {{ 'Total gastos a pagar'|upper }}
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Concepto
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Monto a Cargo de Remitente
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Tipo de Moneda
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Monto a cargo de Destinatario
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Tipo de Moneda
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set totalRemitente = 0 %}
                                {% set totalDestinatario = 0 %}
                                {% set conceptos = ["Valor del Flete", "Otros Gastos Suplementarios", "Seguro"] %}
                                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                    {% set datosGasto = {
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                table:          true,
                                            } %}
                                {% endif %}
                                {% for concepto in conceptos %}
                                    {% set datosGasto = datosGasto|merge({tipo:   concepto}) %}
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            {{ concepto }}
                                        </td>
                                        {% set datosGasto = datosGasto|merge({rolUsuario:   'remitente'}) %}
                                        {% set gasto = formato.getGastoByConcepto(concepto,'remitente') %}
                                        {% set datosGasto = datosGasto|merge({ gasto:  gasto}) %}
                                        {{- include('PuertoUDESFormatosBundle:Gasto:_addGastoAjax.html.twig',datosGasto) -}}
                                        
                                        {% set datosGasto = datosGasto|merge({rolUsuario:   'destinatario'}) %}
                                        {% set gasto = formato.getGastoByConcepto(concepto,'destinatario') %}
                                        {% set datosGasto = datosGasto|merge({ gasto:  gasto}) %}
                                        {{- include('PuertoUDESFormatosBundle:Gasto:_addGastoAjax.html.twig',datosGasto) -}}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                Total
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 text-right">
                                                <span class="imita" id="monto-total-remitente" data-name="gastoRemitente">
                                                    {{- formato.gastoTotalRemitente -}}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 text-left" id="moneda-total-remitente">
                                                <span class="imita" id="moneda-remitente">
                                                    
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 text-right" id="monto-total-destinatario">
                                                <span class="imita" id="monto-total-destinatario" data-name="gastoDestinatario">
                                                    {{- formato.gastoTotalDestinatario -}}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" class="text-center">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 text-left" id="moneda-total-destinatario">
                                                <span class="imita" id="moneda-destinatario">
                                                    
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                18- Documentos Recibidos del Remitente
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                                    id:             "volumen_otro_contenedor_mercancia_formato",
                                                    name:           "volumenOtro",
                                                    originalTitle:  "Volumen en Otra unidad",
                                                    emptyText:      "documentos recibidos",
                                                    valor:          pk is not empty?'':'',
                                                }) %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                19- Lugar, País y Fecha de emisión
                                            </div>
                                        </div>
                                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                dmf:            formato.datosEmision is defined?formato.datosEmision:null,
                                                tipo:            'emision',
                                            }) 
                                        }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="text-center" style="height: 62px;">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                20- Nombre, Firma del Remitente o su Representante o Agente
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td colspan="12">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="12" class="grande text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                21- Instrucciones al Transportista
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% set dataWith = {
                                                clase:      "instrucciones",
                                                entityName: "formato",
                                                bundleName: "formatos" ,
                                                type:           "textarea",
                                                required:   "Vacio,LetrasNumerosConectores",
                                                pk:         formato.id is defined and formato.id is not empty?formato.id:' ',
                                                datos:      {
                                                    numero: formato.numero,
                                                    tipo: formato.tipo,
                                                },
                                            } %}
                                            <div class="col-lg-12 col-md-12">
                                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                                    id:             "formato_instrucciones",
                                                    name:           "instrucciones",
                                                    originalTitle:  "Instrucciones al Transportista",
                                                    emptyText:      "Instrucciones",
                                                    valor:          formato.instrucciones is defined and formato.instrucciones is not empty?formato.instrucciones:'',
                                                }) %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="grande text-center">
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                22- Observaciones del Transportista
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% set dataWith = {
                                                clase:      "observaciones",
                                                entityName: "formato",
                                                bundleName: "formatos" ,
                                                type:           "textarea",
                                                required:   "Vacio,LetrasNumerosConectores",
                                                pk:         formato.id is defined and formato.id is not empty?formato.id:' ',
                                                datos:      {
                                                    numero: formato.numero,
                                                    tipo: formato.tipo,
                                                },
                                            } %}
                                            <div class="col-lg-12 col-md-12">
                                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                                    id:             "formato_observaciones",
                                                    name:           "observaciones",
                                                    originalTitle:  "Observaciones del Transportista",
                                                    emptyText:      "Observaciones",
                                                    valor:          formato.observaciones is defined and formato.observaciones is not empty?formato.observaciones:'',
                                                }) %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="border-none text-center">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                <br/>
                                                <p>
                                                El suscrito al hacerse cargo de las mercancías, se obliga a cumplir las disposiciones de las normas dque conforman el rendimiento jurídico de la Comunidad Andina, en particular con la decisión 399 y su Reglamento. En reverso de ésta CPIC o en hojas separadas el transportista autorizado podrá establecer cláusulas generales y/o particulares de contratación del servicio del transporte.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="enunciado text-left col-lg-12 col-md-12">
                                                23- Nombre, Firma y Sello del Transportista Autorizado o su Representante o Agente
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>