
<div class="hoja_carta_formato print">
    <div class="margen">
        {% set col_w = formato.id is not defined or formato.id is empty?10:12 %}
        {% if formato.id is not defined or formato.id is empty %}
            <div class="text-right pull-right">
                {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                    buttonset: 'horizontal',
                    class: 'animate in',
                    botones  : [
                        {
                            'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                            'type'  :   'primary',
                            'class' :   'guardar formato-crear animate',
                            'url'   :   url('formato_save_ajax',{tipo: formato.tipo.abreviacion|upper}),
                        },
                        {
                            'class' :   'reset formato-crear animate',
                            'type'  :   'warning',
                            'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                        },
                    ],
                    sizing: 'mediano',
                } %}
            </div>
        {% endif %}
        <div class="text-center">
            {% set dataWith = {
                id:             "formato_nombre",
                clase:          "formato-crear",
                placement:      "bottom",
                name:           "nombre",
                pk:             formato.id,
                datos:          {tipo: formato.tipo.abreviacion|upper},
                originalTitle:  "Nombre del Formato",
                entityName:     "formato",
                bundleName:     "formatos" ,
                emptyText:      "Nombre del Formato " ~ formato.tipo.abreviacion|upper,
                placeholder:    "Nombre del Formato " ~ formato.tipo.abreviacion|upper, 
                required:       "NoVacio,NumerosLetras",
                valor:          formato.nombre,
            } %}
            <h4>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
            </h4>
        </div>
        <div class="text-justify">
            <p>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "formato_descripcion",
                    clase:          "formato-crear",
                    name:           "descripcion",
                    type:           "textarea",
                    emptyText:      "Descripcion del Formato " ~ formato.tipo.abreviacion|upper,
                    placeholder:    "Descripcion del Formato " ~ formato.tipo.abreviacion|upper, 
                    required:       "NoVacio,NumerosLetrasConectores",
                    valor:          formato.descripcion,
                }) %}
            </p>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr class="">
                        <td rowspan="2" colspan="6" class="logo text-center">
                            <img src="{{- asset("bundles/puertoudescommon/images/comunidad_andina.jpeg")-}}" alt="Comunidad Andina">
                        </td>
                        <td colspan="6" class="text-center title">
                            {{- formato.tipo.nombre|title ~ ' (' ~ formato.tipo.abreviacion|upper ~ ')' -}}
                        </td>
                </tr>
                <tr>
                        <td colspan="6" class="text-center">
                            N° 
                            {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                id:             "numero_formato",
                                clase:          "formato-crear",
                                name:           "numero",
                                originalTitle:  "Digite Número",
                                emptyText:      "Número de" ~ formato.tipo.abreviacion|upper,
                                placeholder:    "Número " ~ formato.tipo.abreviacion|upper, 
                                required:       "NoVacio,Numeros",
                                valor:          formato.numero,
                            }) %}
                        </td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                1- Denominación o razón social del transportista autorizado
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set pk = formato.transportista is defined and formato.transportista.usuario is defined?formato.transportista.usuario.id:' ' %}
                                {% set dataWith = {
                                    id:             "entidad_razon_social",
                                    clase:          "entidad-crear",
                                    name:           "nombre",
                                    pk:             pk,
                                    datos:          {tipo: formato.tipo.abreviacion|upper},
                                    originalTitle:  "Nombre o Razón Social del Transportista",
                                    entityName:     "usuario",
                                    bundleName:     "usuarios" ,
                                    emptyText:      "Razón Social",
                                    required:       "Vacio,LetrasConectores",
                                    valor:          pk != ' '?formato.transportista.nombre:'',
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            </div>
                            <div class="col-lg-12">
                                NIT. 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_nit",
                                    clase:          "entidad-crear",
                                    name:           "doc_id",
                                    originalTitle:  "NIT del Transportista",
                                    emptyText:      "NIT",
                                    required:       "NoVacio,NumerosConectores",
                                    valor:          pk != ' '?formato.transportista.docId:'',
                                }) %}
                            </div>
                            <div class="col-lg-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_direccion",
                                    clase:          "entidad-crear",
                                    name:           "direccion",
                                    originalTitle:  "Dirección del Transportista",
                                    emptyText:      "Dirección",
                                    required:       "Vacio,NumerosLetrasConectores",
                                    valor:          pk != ' '?formato.transportista.direccion:'',
                                }) %} - Telfs. 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_telefono",
                                    clase:          "entidad-crear",
                                    name:           "telefono",
                                    originalTitle:  "Teléfono del Transportista",
                                    emptyText:      "Teléfono",
                                    required:       "Vacio,NumerosConectores",
                                    valor:          pk != ' '?formato.transportista.telefono:'',
                                }) %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "entidad_lugar",
                                    clase:          "entidad-crear",
                                    name:           "lugar",
                                    originalTitle:  "Lugar del Transportista",
                                    emptyText:      "Lugar",
                                    required:       "Vacio,LetrasConectores",
                                    valor:          pk != ' '?formato.transportista.lugar:'',
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                <div class="text-right pull-right">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                'type'  :   'success',
                                                'class' :   'animate agregar notificados',
                                                'url'   :   url('entidad_add_cpic_ajax',{
                                                                rol:    'notificado',
                                                                numero: formato.numero,
                                                            }),
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                                5- Notificar a
                            </div>
                        </div>
                        <div id="notificados">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for notificado in formato.notificados %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        notificado,
                                            rol:            'notificado',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'notificado',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                6- Lugar, País y Fecha que el transportista recibe las mercancias
                            </div>
                        </div>
                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                dmf:            formato.datosRecibe is defined?formato.datosRecibe:null,
                                tipo:            'recibe',
                            }) 
                        }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                <div class="text-right pull-right">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                'type'  :   'success',
                                                'class' :   'animate agregar remitentes',
                                                'url'   :   url('entidad_add_cpic_ajax',{
                                                                rol:    'remitente',
                                                                numero: formato.numero,
                                                            }),
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                                2- Nombre y Dirección del Remitente
                            </div>
                        </div>
                        <div id="remitentes">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for retiente in formato.remitentes %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        remitente,
                                            rol:            'remitente',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'remitente',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                7- Lugar, País y Fecha de Embarque de las Mercancías
                            </div>
                        </div>
                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                dmf:            formato.datosEmbarque is defined?formato.datosEmbarque:null,
                                tipo:            'embarque',
                            }) 
                        }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                <div class="text-right pull-right">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                'type'  :   'success',
                                                'class' :   'animate agregar destinatarios',
                                                'url'   :   url('entidad_add_cpic_ajax',{
                                                                rol:    'destinatario',
                                                                numero: formato.numero,
                                                            }),
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                                3- Nombre y Dirección del Destinatario
                            </div>
                        </div>
                        <div id="destinatarios">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for destinatario in formato.destinatarios %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        destinatario,
                                            rol:            'destinatario',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'destinatario',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                8- Lugar, País y Fecha de Convenida para la entrega de las Mercancías
                            </div>
                        </div>
                        {{ include('PuertoUDESFormatosBundle:DatosMercanciasFormato:_addDatosMercanciasAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                dmf:            formato.datosEntrega is defined?formato.datosEntrega:null,
                                tipo:            'entrega',
                            }) 
                        }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                <div class="text-right pull-right">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                'type'  :   'success',
                                                'class' :   'animate agregar consignatarios',
                                                'url'   :   url('entidad_add_cpic_ajax',{
                                                                rol:    'consignatario',
                                                                numero: formato.numero,
                                                            }),
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                                4- Nombre y Dirección del Consignatario
                            </div>
                        </div>
                        <div id="consignatarios">
                            {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                {% for consignatario in formato.consignatarios %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                            abreviacion:    formato.tipo.abreviacion|upper,
                                            numero:         formato.numero,
                                            entidad:        consignatario,
                                            rol:            'consignatario',
                                            fila:           loop.index0,
                                        }) 
                                    }}
                                {% else %}
                                    {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                        {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                                numero:         formato.numero,
                                                rol:            'consignatario',
                                                fila:           0,
                                            }))
                                        }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="6">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                9- Condiciones de Transporte y Condiciones de Pago
                            </div>
                        </div>
                        {% set pk = formato.conductores is defined and formato.conductores is not empty and vh is defined and vh.id is defined?vh.id:' ' %}
                        {% set dataWith = {
                            clase:          "condicion-crear",
                            pk:             pk,
                            name:           "condicion",
                            url:            'condiciones_add_cpic_ajax_',
                            entityName:     "condicion",
                            bundleName:     "formatos" ,
                            type:           "textarea",
                            required:       "NoVacio,Letras",
                        } %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "condiciones_transporte",
                                    datos:          {
                                                        numero: formato.numero,
                                                        tipo: 'transporte',
                                                    },
                                    originalTitle:  "Condiciones de Transporte",
                                    valor:          formato.condicionesTransporte is defined and formato.condicionesTransporte is not empty?formato.condicionesTransporte|first:'',
                                }) %}
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             "condiciones_pago",
                                    datos:          {
                                                        numero: formato.numero,
                                                        tipo: 'pago',
                                                    },
                                    originalTitle:  "Condiciones de Pago",
                                    type:           "textarea",
                                    valor:          formato.condicionesPago is defined and formato.condicionesPago is not empty?formato.condicionesPago|first:'',
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <table class="table table-bordered table-striped" id="cpics">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                <div class="text-right pull-left">
                                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                                        'buttonset': 'horizontal',
                                                        'class': 'animate in',
                                                        'botones'  : [
                                                            {
                                                                'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                                'type'  :   'success',
                                                                'class' :   'animate agregar-cpic',
                                                                'url'   :   url('formato_add_cpic_ajax',{
                                                                                numero_mci: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                            }),
                                                            },
                                                        ],
                                                        'sizing': 'pequeño',
                                                    } %}
                                                </div>
                                                10- Catidad de los bultos y clase de los bultos
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                11- Marca y número de los bultos
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="6">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                12- Descripción corriente de la naturaleza de las mercancías (indicar si son peligrosas)
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2">
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                13- Peso en Kilogramos
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="10" rowspan="4">
                                            
                                    </th>
                                    <th>
                                            Bruto
                                    </th>
                                    <th>
                                            Neto
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                            
                                    </th>
                                    <th>
                                            
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                33- Volumen en m3 u otra unidad de medida
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="row">
                                            <div class="enunciado col-lg-12 col-md-12">
                                                33- Volumen en m3 u otra unidad de medida
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fh in formato.hijos %}
                                    {{ include('PuertoUDESFormatosBundle:Formato:_addCpicAjax.html.twig',{
                                            fila:       loop.index0,
                                            formato:    fh,
                                            numero:     formato.numero
                                        }) 
                                    }}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                                    34- Precio de las mercancías (INCOTERMS 2010) y tipo de monedas
                                            </a>
                                    </td>
                                    <td style="border-left: none;">
                                            TOTAL
                                    </td>
                                    <td>
                                            <span id="cpic_total_peso_bruto"></span>
                                    </td>
                                    <td>
                                            <span id="cpic_total_peso_neto"></span>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
                <tr colspan="12">
                    <td colspan="12">
                        <table class="table table-bordered table-striped">
                            <tbody>

                                <tr>
                                        <td colspan="6" rowspan="2" style="width: 35%;">
                                                <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                                        35- Observaciones de la Aduana de Partida
                                                </a>
                                        </td>
                                        <td colspan="3">
                                                <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                                        37- Aduana(s) de Cruce de Frontera
                                                </a>
                                        </td>
                                        <td colspan="3">
                                                <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                                        38- Aduana de Destino 
                                                </a>
                                        </td>
                                </tr>
                                <tr>
                                        <td colspan="6" rowspan="3">
                                                <p class="text-justify">
                                                        El suscrito al hacerse cargo de las mercancías, se obliga a cumplir con las disposiciones de las normas que conforman el ordenamiento jurídico de la Comunidad Andina, en particular con la decisión 399 y su reglamento En las presentes observaciones de transporte internacional por carretera
                                                </p>
                                                <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                                        39- Nombre, firma y sello del transportista autorizado o su representante
                                                </a>
                                        </td>
                                </tr>
                                <tr>
                                        <td colspan="6">
                                                36- Firma y sello de la autoridad que interviene en la Aduana de Partida
                                        </td>
                                </tr>
                                <tr>
                                        <td colspan="6">
                                                <span class="block title">Fecha de Emisión</span>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>