
{% set pk = formato is defined and formato.id is not empty? formato.id:' '%}

<div class="hoja_carta_formato print">
    <div class="margen">
        <div class="row row-fluid">
            <div class="col-xs-8">
                <div class="row row-fluid">
                    <div class="col-xs-6 border-right text-center">
                        <img class="icon" style="width: 100px;" src="{{ asset('bundles/puertoudescommon/images/logo_icon.png') }}" alt="PuertoUDES">
                    </div>
                    <div id="empresa" class="col-xs-6">
                        <div class="enunciado">Empresa</div>
                        <span class="imita">
                            PuertoUDES
                        </span><br/>
                        <span class="imita">
                            123456789-0
                        </span><br/>
                        <span class="imita">
                            Av. 4 Esquina Calle 10N
                        </span><br/>
                        <span class="imita">
                            Cúcuta, Colombia
                        </span>
                        {#% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                            {% for empresa in formato.empresas %}
                                {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                        abreviacion:    formato.tipo.abreviacion|upper,
                                        numero:         formato.numero,
                                        entidad:        empresa,
                                        rol:            'empresa',
                                        fila:           loop.index0,
                                    }) 
                                }}
                            {% else %}
                                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                    {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                            abreviacion:    formato.tipo.abreviacion,
                                            numero:         formato.numero,
                                            rol:            'empresa',
                                            fila:           0,
                                        }))
                                    }}
                                {% endif %}
                            {% endfor %}
                        {% endif %#}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                {% if formato.id is not defined or formato.id is empty %}
                    <div class="row">
                        <div>
                            <div class="text-right pull-right hidden-print">
                                {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                    buttonset: 'horizontal',
                                    class: 'animate in hidden-print',
                                    botones  : [
                                        {
                                            'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                            'type'  :   'primary',
                                            'class' :   'guardar formato-crear animate',
                                            'url'   :   url('formato_save_ajax',{tipo: formato.tipo.abreviacion|upper}),
                                        },
                                        {
                                            'class' :   'reset formato-crear animate',
                                            'type'  :   'warning',
                                            'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                        },
                                    ],
                                    sizing: 'mediano',
                                } %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h4>
                    Factura No. 
                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with {
                        id:             "entidad",
                        clase:          "formato-crear",
                        placement:      "bottom",
                        name:           "numero",
                        pk:             formato.id,
                        datos:          {},
                        type:           "text",
                        originalTitle:  "Factura No.",
                        entityName:     "entidad",
                        bundleName:     "common" ,
                        emptyText:      "No.",
                        placeholder:    "No.", 
                        required:       "NoVacio,Numeros",
                        valor:    formato.numero, 
                    } %}
                </h4>
                <h5>
                    <div class="row">
                        <div class="col-xs-12">
                            {% set dataWith = {
                                id:             "formato_nombre",
                                clase:          "formato-crear",
                                placement:      "bottom",
                                name:           "id",
                                pk:             formato.id,
                                datos:          {tipo: formato.tipo.abreviacion|upper},
                                type:           "date",
                                originalTitle:  "Fecha",
                                entityName:     "formato",
                                bundleName:     "formatos" ,
                                emptyText:      "Fecha",
                                placeholder:    "Fecha", 
                                required:       "NoVacio,NumerosLetras",
                                valor:          formato.fechaCreado | date('d-M-y'),
                            } %}
                            <div>
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            </div>
                        </div>
                    </div>
                </h5>
                <h6>
                    <div class="row">
                        <div class="col-xs-12">
                            {% set dataWith = {
                                clase:          "incoterm",
                                entityName:     "formato",
                                bundleName:     "formatos" ,
                                required:       "NoVacio,Letras",
                                pk:             pk,
                                datos:          {
                                                numero: formato.numero,
                                                tipo: formato.tipo,
                                            },
                            } %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             "incoterm_formato",
                                        name:           "incoterm",
                                        originalTitle:  "INCOTERM 2010",
                                        emptyText:      "INCOTERM",
                                        valor:          formato.incoterm is not empty?formato.incoterm:'',
                                        prefetch:       url('list_typeahead_incoterms_',{name: 'sigla'}),
                                        type:           'typeaheadjs',
                                    }) %} 
                                </div>
                            </div>
                        </div>
                    </div>
                </h6>
            </div>
        </div>
        <div class="row row-fluid">
            <div id="cliente" class="col-xs-6">
                <div class="enunciado">Cliente</div>
                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                    {% for cliente in formato.clientes %}
                        {{ include('PuertoUDESFormatosBundle:Formato:_addEntidadCpicAjax.html.twig',{
                                abreviacion:    formato.tipo.abreviacion|upper,
                                numero:         formato.numero,
                                entidad:        cliente,
                                rol:            'cliente',
                                fila:           loop.index0,
                            }) 
                        }}
                    {% else %}
                        {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                            {{ render(controller('PuertoUDESUsuariosBundle:Entidad:addEntidadCpicAjax',{
                                    abreviacion:    formato.tipo.abreviacion,
                                    numero:         formato.numero,
                                    rol:            'cliente',
                                    fila:           0,
                                }))
                            }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4">
                        Lugar y País de Salida
                    </div>
                    <div class="col-xs-8">
                        {% set carga = formato.cargas is not empty?formato.cargas|first:formato.cargas %}
                        {% set dataWith = {
                            id:             'carga_lugar_carga',
                            clase:          'carga-crear',
                            placement:      'top',
                            name:           'lugarCarga',
                            pk:             carga is not empty and carga.id is defined?carga.id:' ',
                            originalTitle:  "Lugar de la Carga",
                            emptyText:      "Lugar",
                            entityName:     "carga",
                            bundleName:     "formatos" ,
                            required:       "NoVacio,LetrasConectores",
                            valor:          carga.lugarCarga is defined?carga.lugarCarga:' ',
                            prefetch:       url('list_typeahead_cargas_',{name: 'lugarCarga'})
                        } %}
                        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Lugar y País de Llegada
                    </div>
                    <div class="col-xs-8">
                        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                            id:             'carga_lugar_descarga',
                            name:           'lugarDescarga',
                            originalTitle:  "Lugar de la Descarga",
                            emptyText:      "Lugar",
                            required:       "NoVacio,LetrasConectores",
                            valor:          carga.lugarDescarga is defined?carga.lugarDescarga:' ',
                            type:           'typeaheadjs',
                            prefetch:       url('list_typeahead_cargas_',{name: 'lugarDescarga'})
                        }) %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-fluid">
            <table class="table table-bordered table-striped table-hover row-padding">
                <tbody id="mercancias-gastos-formato">
                    <tr class="">
                        <th class="text-center title">
                            <div class="row">
                                <div>
                                    <div class="text-right pull-left fuera btns-action-left">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar mercancias-gastos-formato',
                                                    'url'   :   url('mercanciaGastoFormato_add_tipo_ajax',{
                                                                    numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                    str_tipo: formato.tipo.abreviacion|upper,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                <div class="text-center col-lg-12 col-md-12">
                                    Cantidad
                                </div>
                            </div>
                        </th>
                        <th class="text-center title">
                            Descripción
                        </th>
                        <th class="text-center title col-xs-1">
                            Precio Unitario
                        </th>
                        <th class="text-center title col-xs-1">
                            Precio Total
                        </th>
                    </tr>
                    {% for cm in formato.contenedoresMercancias %}
                        {{ include('PuertoUDESFormatosBundle:Formato:_addMercanciaGastoAjax.html.twig',{
                                fila:       loop.index0,
                                formato:    formato,
                                cm:         cm,
                            }) 
                        }}
                    {% else %}
                        {{ include('PuertoUDESFormatosBundle:Formato:_addMercanciaGastoAjax.html.twig',{
                                fila:       0,
                                formato:    formato,
                                cm:         null,
                            }) 
                        }}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td rowspan="4" colspan="2" class="text-left">
                            {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                placement:      "top",
                                pk:             formato.id,
                                datos:          {tipo: formato.tipo.abreviacion|upper},
                                entityName:     "formato",
                                bundleName:     "formatos" ,
                                id:             "formato_descripcion",
                                clase:          "formato-crear",
                                mode:           "inline",
                                name:           "descripcion",
                                type:           "textarea",
                                originalTitle:  "Descripción / Notas",
                                emptyText:      "Descripción / Notas",
                                placeholder:    "Descripción / Notas",
                                required:       "NoVacio,NumerosLetrasConectores",
                                valor:          formato.descripcion,
                            }) %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Peso Bruto Total (Kg): 
                            <span id="factura_total_peso_bruto" class="imita pull-right" data-name="pesoBruto">{{ formato.getTotalPesoBruto }}</span>
                        </th>
                        <th>
                            Subtotal: 
                            <span id="factura_subtotal" class="imita pull-right" data-name="subtotal">{{ formato.getGastoTotal }}</span>
                            {{' ' ~ formato.getTipoMoneda }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Peso Neto Total (Kg): 
                            <span id="factura_total_peso_neto" class="imita pull-right" data-name="pesoNeto">{{ formato.getTotalPesoNeto }}</span>
                        </th>
                        <th>
                            IVA: 
                            <span id="factura_iva" class="imita pull-right" data-name="iva">16%{#{ formato.getIva }#}</span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Volumen Total (m<sup>3</sup>):
                            <span id="factura_total_peso_bruto" class="imita pull-right" data-name="volumen">{{ formato.getTotalVolumen }}</span>
                        </th>
                        <th>
                            Total
                            <span id="factura_subtotal" class="imita pull-right" data-name="total">{{ formato.getGastoTotal * 1.16 }}</span>
                            {{' ' ~ formato.getTipoMoneda }}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>