
<div class="hoja_carta_formato print">
    <div class="margen">
        {% set col_w = formato.id is not defined or formato.id is empty?10:12 %}
        {% if formato.id is not defined or formato.id is empty %}
            <div class="pull-right">
                {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                    buttonset: 'horizontal',
                    class: 'animate in',
                    botones  : [
                        {
                            'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                            'type'  :   'primary',
                            'class' :   'guardar formato-crear animate',
                            'url'   :   url('formato_save_ajax',{tipo: formato.tipo.abreviacion|upper}),
                        },
                        {
                            'class' :   'reset formato-crear animate',
                            'type'  :   'warning',
                            'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                        },
                    ],
                    sizing: 'mediano',
                } %}
            </div>
        {% endif %}
        <div class="text-center hidden-print">
            {% set dataWith = {
                id:             "formato_nombre",
                clase:          "formato-crear",
                placement:      "bottom",
                name:           "nombre",
                pk:             formato.id,
                datos:          {tipo: formato.tipo.abreviacion|upper},
                originalTitle:  "Nombre del Formato",
                entityName:     "formato",
                bundleName:     "formatos" ,
                emptyText:      "Nombre del Formato " ~ formato.tipo.abreviacion|upper,
                placeholder:    "Nombre del Formato " ~ formato.tipo.abreviacion|upper, 
                required:       "NoVacio,NumerosLetras",
                valor:          formato.nombre,
            } %}
            <h4>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
            </h4>
        </div>
        <div class="text-justify hidden-print">
            <p>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "formato_descripcion",
                    clase:          "formato-crear",
                    name:           "descripcion",
                    type:           "textarea",
                    emptyText:      "Descripcion del Formato " ~ formato.tipo.abreviacion|upper,
                    placeholder:    "Descripcion del Formato " ~ formato.tipo.abreviacion|upper, 
                    required:       "NoVacio,NumerosLetrasConectores",
                    valor:          formato.descripcion,
                }) %}
            </p>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr class="">
                    <td rowspan="2" colspan="6" class="logo text-center">
                        <img src="{{- asset("bundles/puertoudescommon/images/comunidad_andina.jpeg")-}}" alt="Comunidad Andina">
                    </td>
                    <td colspan="6" class="text-center title">
                        {{- formato.tipo.nombre|title ~ ' (' ~ formato.tipo.abreviacion|upper ~ ')' -}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        N° 
                        {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                            id:             "numero_formato",
                            clase:          "formato-crear",
                            name:           "numero",
                            originalTitle:  "Digite Número",
                            emptyText:      "Número de" ~ formato.tipo.abreviacion|upper,
                            placeholder:    "Número " ~ formato.tipo.abreviacion|upper, 
                            required:       "NoVacio,Numeros",
                            valor:          formato.numero,
                        }) %}
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center title">
                        IDENTIFICACIÓN DEL TRANSPORTISTA AUTORIZADO
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="8">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                    'type'  :   'primary',
                                                    'class' :   'entidad_crear animate guardar ' ~ (formato.transportista is not defined or formato.transportista.id is not defined?'in':'out'),
                                                    'url'   :   url('entidad_save_transportista_ajax',{
                                                                    tipo: formato.tipo.abreviacion|upper,
                                                                    numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                }),
                                                },
                                                {
                                                    'class' :   'reset entidad-crear animate',
                                                    'type'  :   'warning',
                                                    'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                1- Denominación o razón social del transportista autorizado
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% set dataWith = {
                                    id:             'entidad_razon_social',
                                    clase:          'entidad_crear',
                                    placement:      'top',
                                    name:           'nombre',
                                    pk:             formato.transportista is defined and formato.transportista.usuario.id is defined and formato.transportista.usuario.id is not empty?formato.transportista.usuario.id:' ',
                                    datos:          {tipo: formato.tipo.abreviacion|upper},
                                    originalTitle:  "Nombre o Razón Social",
                                    entityName:     "usuario",
                                    bundleName:     "usuarios" ,
                                    required:       "Vacio,LetrasConectores",
                                    valor:          formato.transportista.nombre is defined?formato.transportista.nombre:' ',
                                    prefetch:       url('list_typeahead_entidades_',{name: 'nombre'}),
                                    type:           'typeaheadjs',
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({emptyText:      "Razón Social",}) %}
                            </div>
                            <div class="col-lg-12">
                                NIT. 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'entidad_nit',
                                    name:           'docId',
                                    originalTitle:  "NIT",
                                    required:       "NoVacio,NumerosConectores",
                                    valor:          formato.transportista.docId is defined?formato.transportista.docId:' ',
                                    prefetch:       url('list_typeahead_entidades_',{name: 'docId'}),
                                }) %}
                            </div>
                            <div class="col-lg-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'entidad_direccion',
                                    name:           'direccion',
                                    originalTitle:  "Dirección",
                                    required:       "Vacio,NumerosLetrasConectores",
                                    valor:          formato.transportista.direccion is defined?formato.transportista.direccion:' ',
                                    prefetch:       url('list_typeahead_entidades_',{name: 'direccion'}),
                                }) %}
                                 - Telfs. 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'entidad_telefono',
                                    name:           'telefono',
                                    originalTitle:  "Teléfono",
                                    required:       "Vacio,NumerosConectores",
                                    valor:          formato.transportista.telefono is defined?formato.transportista.telefono:' ',
                                    prefetch:       url('list_typeahead_entidades_',{name: 'telefono'}),
                                }) %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'entidad_lugar',
                                    name:           'Lugar',
                                    originalTitle:  "Lugar",
                                    required:       "Vacio,LetrasConectores",
                                    valor:          formato.transportista.lugar is defined?formato.transportista.lugar:' ',
                                    prefetch:       url('list_typeahead_entidades_',{name: 'lugar'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="4">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                2- Certificado de idoneidad N°
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'entidad_certificado_idoneidad',
                                    name:           'certificadoIdoneidad',
                                    originalTitle:  "Certificado de Idoneidad",
                                    required:       "NoVacio,NumerosLetrasConectores",
                                    valor:          formato.transportista.certificadoIdoneidad is defined?formato.transportista.certificadoIdoneidad:' ',
                                    prefetch:       url('list_typeahead_entidades_',{name: 'certificadoIdoneidad'}),
                                }) %}
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                3- Permiso de presentación de Servicios N°
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% set permisos = ' ' %}
                                {% if formato.transportista is defined and formato.transportista.permisosPresentaServicios is defined %}
                                    {% for pps in formato.transportista.permisosPresentaServicios %}
                                        {% set permisos = permisos ~ (not loop.first?', ':' ') ~ pps.nombre %}
                                    {% endfor %}
                                {% endif %}
                                {% set dataWith = {
                                    id:             'entidad_permiso_presentacion_servicios',
                                    clase:          'entidad_crear',
                                    placement:      'top',
                                    name:           'permisosPresentaServicios',
                                    pk:             formato.transportista is defined and formato.transportista.usuario.id is defined and formato.transportista.usuario.id is not empty?formato.transportista.usuario.id:' ',
                                    url:            'permisos_save_transportista_ajax',
                                    datos:          {
                                                        tipo: formato.tipo.abreviacion|upper,
                                                        numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                    },
                                    originalTitle:  "Permiso de Presentación de Servicio",
                                    entityName:     "entidad",
                                    bundleName:     "usuarios" ,
                                    emptyText:      "Permiso de Presentación de Servicio N°",
                                    placeholder:    "N°", 
                                    required:       "NoVacio,NumerosLetrasConectores",
                                    valor:          permisos,
                                    prefetch:       url('list_typeahead_permisos_presenta_servicios_',{name: 'nombre'}),
                                    type:           'typeaheadjs',
                                    multiple:       true
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center title" class="text-center">
                        <div class="row">
                            <div>
                                <div class="text-right pull-left btns-action-left no-quitar">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                'type'  :   'primary',
                                                'class' :   'vehiculo-crear animate guardar ' ~ (formato.conductores is empty?'in':'out'),
                                                'url'   :   url('vehiculo_save_ajax',{
                                                                tipo: formato.tipo.abreviacion|upper,
                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                            }),
                                            },
                                            {
                                                'class' :   'reset vehiculo-crear animate',
                                                'type'  :   'warning',
                                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                            </div>
                        </div>
                        IDENTIFICACIÓN DEL VEHICULO HABILITADO (CAMIÓN O TRACTO CAMIÓN)
                        {% set vh = formato.conductores is not empty?(formato.conductores|first).vehiculo:formato.conductores %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                4- Marca
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% set dataWith = {
                                    id:             'vehiculo_marca',
                                    clase:          'vehiculo-crear',
                                    placement:      'top',
                                    name:           'marca',
                                    pk:             vh is defined and vh.id is defined?vh.id:' ',
                                    originalTitle:  "Marca del Vehiculo",
                                    emptyText:      "Marca",
                                    entityName:     "vehiculo",
                                    bundleName:     "common" ,
                                    required:       "NoVacio,NumerosLetras",
                                    valor:          vh is not empty and vh.marca is defined?vh.marca:' ',
                                    prefetch:       url('list_typeahead_vehiculos_',{name: 'marca'}),
                                    type:           'typeaheadjs',
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                5- Año de Fabricación
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'vehiculo_anio_fabricacion',
                                    name:           'anioFabrica',
                                    originalTitle:  "Año de Fabricación del Vehiculo",
                                    emptyText:      "Año de Fábricación",
                                    required:       "NoVacio,Numeros",
                                    valor:          vh is not empty and vh.anioFabrica is defined?vh.anioFabrica:' ',
                                    prefetch:       url('list_typeahead_vehiculos_',{name: 'anioFabrica'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                6- Placa y País
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'vehiculo_placa',
                                    name:           'placa',
                                    originalTitle:  "Placa del Vehiculo",
                                    emptyText:      "Placa",
                                    required:       "NoVacio,NumerosLetrasConectores",
                                    valor:          vh is not empty and vh.placa is defined?vh.placa:' ',
                                    prefetch:       url('list_typeahead_vehiculos_',{name: 'placa'}),
                                }) %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'vehiculo_pais',
                                    name:           'pais',
                                    originalTitle:  "País del Vehiculo",
                                    emptyText:      "País",
                                    required:       "NoVacio,Letras",
                                    valor:          vh is not empty and vh.pais is defined?vh.pais:' ',
                                    prefetch:       url('list_typeahead_vehiculos_',{name: 'pais'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                7- Número o Serie del Chasis
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'vehiculo_numero_serie_chasis',
                                    name:           'numSerieChasis',
                                    originalTitle:  "Número o Serie del Chasis del Vehiculo",
                                    emptyText:      "Número o Serie del Chasis",
                                    required:       "NoVacio,NumerosLetras",
                                    valor:          vh is not empty and vh.numeroSerieChasis is defined?vh.numeroSerieChasis:' ',
                                    prefetch:       url('list_typeahead_vehiculos_',{name: 'numeroSerieChasis'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                8- Certificado de Habilitación N°
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'vehiculo_certifica_habilitacion',
                                    name:           'certificadoHabilitacion',
                                    originalTitle:  "Certificado de Habilitación del Vehiculo",
                                    emptyText:      "Certificado de Habilitación",
                                    placeholder:    "N°",
                                    required:       "NoVacio,NumerosLetras",
                                    valor:          vh is not empty and vh.certificadoHabilitacion is defined?vh.certificadoHabilitacion:' ',
                                    prefetch:       url('list_typeahead_vehiculos_',{name: 'certificadoHabilitacion'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center title">
                        <div clasS="row">
                            <div>
                                <div class="text-left pull-left btns-action-left no-quitar">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                'type'  :   'primary',
                                                'class' :   'unidad-carga-crear animate guardar ' ~ (formato.cargas is empty?'in':'out'),
                                                'url'   :   url('unidad_carga_save_ajax',{
                                                                tipo: formato.tipo.abreviacion|upper,
                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                            }),
                                            },
                                            {
                                                'class' :   'reset unidad-carga-crear animate',
                                                'type'  :   'warning',
                                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                            </div>
                        </div>
                        {% set unidadCarga = formato.cargas is not empty?(formato.cargas|first).unidadCargas is not empty?(formato.cargas|first).unidadCargas|first:(formato.cargas|first).unidadCargas %}
                        IDENTIFICACIÓN DE LA UNIDAD DE CARGA (REMOLQUE O SEMIREMOLQUE)
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                9- Marca
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% set dataWith = {
                                    id:             'unidadCarga_marca',
                                    clase:          'unidad-carga-crear',
                                    placement:      'top',
                                    name:           'marca',
                                    pk:             unidadCarga is not empty and unidadCarga.id is defined? unidadCarga.id:' ',
                                    originalTitle:  "Marca de la unidad de Carga",
                                    emptyText:      "Marca",
                                    entityName:     "unidadCarga",
                                    bundleName:     "common" ,
                                    required:       "NoVacio,Letras",
                                    valor:          unidadCarga is not empty and unidadCarga.marca is defined? unidadCarga.marca:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'marca'}),
                                    type:           'typeaheadjs',
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                10- Año de Fabricación
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'unidadCarga_anio_fabricacion',
                                    name:           'anioFabrica',
                                    originalTitle:  "Año de Fabricación del la Unidad de Carga",
                                    emptyText:      "Año de Fabricación",
                                    required:       "NoVacio,Numeros",
                                    valor:          unidadCarga is not empty and unidadCarga.anioFabrica is defined? unidadCarga.anioFabrica:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'anioFabrica'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                11- Placa y País
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'unidadCarga_placa',
                                    name:           'placa',
                                    originalTitle:  "Placa de la Unidad de Carga",
                                    emptyText:      "Placa",
                                    required:       "NoVacio,NumerosLetras",
                                    valor:          unidadCarga is not empty and unidadCarga.placa is defined? unidadCarga.placa:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'placa'}),
                                }) %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'unidadCarga_pais',
                                    name:           'pais',
                                    originalTitle:  "País de la Unidad de Carga",
                                    emptyText:      "País",
                                    required:       "NoVacio,Letras",
                                    valor:          unidadCarga is not empty and unidadCarga.pais is defined? unidadCarga.pais:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'pais'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div class="row">
                            <div class="enunciado col-lg-12 col-md-12">
                                <div>
                                    <div class="text-right pull-right btns-action-right actions-top">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                    'type'  :   'primary',
                                                    'class' :   'otra-unidad-carga-crear animate guardar ' ~ (formato.cargas | length < 2?'in':'out'),
                                                    'url'   :   url('unidad_carga_save_ajax',{
                                                                    tipo: formato.tipo.abreviacion|upper,
                                                                    numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                }),
                                                },
                                                {
                                                    'class' :   'reset otra-unidad-carga-crear animate',
                                                    'type'  :   'warning',
                                                    'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                12- Otro
                                {% set otraUnidadCarga = formato.cargas is not empty?(formato.cargas|first).unidadCargas is not empty?(formato.cargas|first).unidadCargas|last:(formato.cargas|first).unidadCargas %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% set dataWith = {
                                    id:             'otraUnidadCarga_marca',
                                    clase:          'otra-unidad-carga-crear',
                                    placement:      'top',
                                    name:           'marca',
                                    pk:             otraUnidadCarga is not empty and otraUnidadCarga.id is defined? otraUnidadCarga.id:' ',
                                    originalTitle:  "Marca de la Otra Unidad de Carga",
                                    emptyText:      "Marca",
                                    entityName:     "unidadCarga",
                                    bundleName:     "common" ,
                                    required:       "NoVacio,Letras",
                                    valor:          otraUnidadCarga is not empty and otraUnidadCarga.marca is defined? otraUnidadCarga.marca:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'marca'}),
                                    type:           'typeaheadjs',
                                } %}
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'otraUnidadCarga_anio_fabricacion',
                                    name:           'anioFabrica',
                                    originalTitle:  "Año de Fabricación del la Unidad de Carga",
                                    emptyText:      "Año de Fabricación",
                                    required:       "NoVacio,Numeros",
                                    valor:          otraUnidadCarga is not empty and otraUnidadCarga.anioFabrica is defined? otraUnidadCarga.anioFabrica:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'anioFabrica'}),
                                }) %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'otraUnidadCarga_placa',
                                    name:           'placa',
                                    originalTitle:  "Placa de la Unidad de Carga",
                                    emptyText:      "Placa",
                                    required:       "NoVacio,NumerosLetras",
                                    valor:          otraUnidadCarga is not empty and otraUnidadCarga.placa is defined? otraUnidadCarga.placa:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'placa'}),
                                }) %} - 
                                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                    id:             'otraUnidadCarga_pais',
                                    name:           'pais',
                                    originalTitle:  "País de la Unidad de Carga",
                                    emptyText:      "País",
                                    required:       "NoVacio,Letras",
                                    valor:          otraUnidadCarga is not empty and otraUnidadCarga.pais is defined? otraUnidadCarga.pais:' ',
                                    prefetch:       url('list_typeahead_unidades_carga_',{name: 'pais'}),
                                }) %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" class="text-center title">
                        <div class="row">
                            <div>
                                <div class="text-right pull-left btns-action-left no-quitar">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        buttonset: 'horizontal',
                                        class: 'animate in',
                                        botones  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                'type'  :   'primary',
                                                'class' :   'guardar conductor-principal-crear animate ' ~ (formato.conductores is empty or (formato.conductores|first).conductor is empty?'in':'out'),
                                                'url'   :   url('conductor_save_ajax',{
                                                                tipo_conductor: 'Principal',
                                                                tipo: formato.tipo.abreviacion|upper,
                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                            }),
                                            },
                                            {
                                                'class' :   'reset conductor-principal-crear animate',
                                                'type'  :   'warning',
                                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                            },
                                        ],
                                        sizing: 'pequeño',
                                    } %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div class="text-right pull-right btns-action-right no-quitar">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        buttonset: 'horizontal',
                                        class: 'animate in',
                                        botones  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                'type'  :   'primary',
                                                'class' :   'guardar conductor-auxiliar-crear animate ' ~ (formato.conductores|length < 2?'in':'out'),
                                                'url'   :   url('conductor_save_ajax',{
                                                                tipo_conductor: 'Auxiliar',
                                                                tipo: formato.tipo.abreviacion|upper,
                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                            }),
                                            },
                                            {
                                                'class' :   'reset conductor-auxiliar-crear animate',
                                                'type'  :   'warning',
                                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                            },
                                        ],
                                        sizing: 'pequeño',
                                    } %}
                                </div>
                            </div>
                        </div>
                        IDENTIFICACIÓN DE LA TRIPULACIÓN
                    </td>
                </tr>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    13- CONDUCTOR PRINCIPAL: Nombre y Apellido
                                    {% set c1 = formato.conductores is not empty?formato.getConductor('principal'):formato.conductores %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% set dataWith = {
                                        id:             'conductor_principal_nombre',
                                        clase:          'conductor-principal-crear',
                                        placement:      'top',
                                        name:           'nombre',
                                        pk:             c1 is not empty and c1.id is defined?c1.id:' ',
                                        originalTitle:  "Nombres del Conductor Principal",
                                        emptyText:      "Nombres",
                                        entityName:     "conductor",
                                        bundleName:     "usuarios" ,
                                        required:       "NoVacio,Letras",
                                        valor:          c1 is not empty and c1.nombre is defined?c1.nombre:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'nombre'}),
                                        type:           'typeaheadjs',
                                    } %}
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_principal_apellido',
                                        name:           'apellido',
                                        originalTitle:  "Apellidos del Conductor Principal",
                                        emptyText:      "Apellidos",
                                        required:       "NoVacio,Letras",
                                        valor:          c1 is not empty and c1.apellido is defined?c1.apellido:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'apellido'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    18- CONDUCTOR AUXILIAR: Nombre y Apellido
                                    {% set c2 = formato.conductores is not empty?formato.getConductor('auxiliar'):formato.conductores %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {#<a href="#" id="conductor_auxiliar_nombre" class="xeditable conductor-auxiliar-crear" 
                                       data-placement="top" 
                                       data-name="nombre" 
                                       data-type="text" 
                                       data-pk="{{- formato.transportista is defined and formato.transportista.id is defined and formato.transportista.id is not empty?formato.transportista.id:' ' -}}"
                                       data-url="{{- url('formato_edit_campo',{tipo: formato.tipo.abreviacion|upper}) -}}" 
                                       data-original-title="Nombres del Conductor Auxiliar" 
                                       data-entity-name="conductor"
                                       data-entity-bundle="usuarios" 
                                       data-emptytext="Nombres" 
                                       data-placeholder="Nombres Conductor Auxiliar" 
                                       data-required="NoVacio,Letras">
                                        {{- c2 is not empty and c2.nombre is defined?c1.nombre:' ' -}}
                                    </a> 
                                    <a href="#" id="conductor_auxiliar_apellido" class="xeditable conductor-auxiliar-crear" 
                                       data-placement="top" 
                                       data-name="apellido" 
                                       data-type="text" 
                                       data-pk="{{- formato.transportista is defined and formato.transportista.id is defined and formato.transportista.id is not empty?formato.transportista.id:' ' -}}"
                                       data-url="{{- url('formato_edit_campo',{tipo: formato.tipo.abreviacion|upper}) -}}" 
                                       data-original-title="Apellidos del Conductor Auxiliar" 
                                       data-entity-name="conductor"
                                       data-entity-bundle="usuarios" 
                                       data-emptytext="Apellidos" 
                                       data-placeholder="Apellidos Conductor Auxiliar" 
                                       data-required="NoVacio,Letras">
                                        {{- c2 is not empty and c2.nombre is defined?c2.nombre:' ' -}}
                                    </a>#}
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_auxiliar_nombre',
                                        clase:          'conductor_auxiliar_crear',
                                        originalTitle:  "Nombres del Conductor Auxiliar",
                                        pk:             c2 is not empty and c2.id is defined?c2.id:' ',
                                        valor:          c2 is not empty and c2.nombre is defined?c2.nombre:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'nombre'}),
                                    }) %}
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_auxiliar_apellido',
                                        clase:          'conductor_auxiliar_crear',
                                        pk:             c2 is not empty and c2.id is defined?c2.id:' ',
                                        name:           'apellido',
                                        originalTitle:  "Apellidos del Conductor Auxiliar",
                                        emptyText:      "Apellidos",
                                        required:       "NoVacio,Letras",
                                        valor:          c2 is not empty and c2.apellido is defined?c2.apellido:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'apellido'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    14- Documento de identidad
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_principal_docId',
                                        name:           'docId',
                                        originalTitle:  "Documento de Identidad del Conductor Principal",
                                        emptyText:      "Documento de Identidad",
                                        required:       "NoVacio,NumerosConectores",
                                        valor:          c1 is not empty and c1.docId is defined?c1.docId:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'docId'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    15- Nacionalidad
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_principal_nacionalidad',
                                        name:           'nacionalidad',
                                        originalTitle:  "Nacionalidad del Conductor Principal",
                                        emptyText:      "Nacionalidad",
                                        required:       "NoVacio,Letras",
                                        valor:          c1 is not empty and c1.nacionalidad is defined?c1.nacionalidad:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'nacionalidad'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    19- Documento de identidad
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_auxiliar_docId',
                                        clase:          'conductor_auxiliar_crear',
                                        pk:             c2 is not empty and c2.id is defined?c2.id:' ',
                                        name:           'docId',
                                        originalTitle:  "Documento de Identidad del Conductor Auxiliar",
                                        emptyText:      "Documento de Identidad",
                                        required:       "NoVacio,NumerosConectores",
                                        valor:          c2 is not empty and c2.docId is defined?c2.docId:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'docId'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    20- Nacionalidad
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_auxiliar_nacionalidad',
                                        clase:          'conductor_auxiliar_crear',
                                        pk:             c2 is not empty and c2.id is defined?c2.id:' ',
                                        name:           'nacionalidad',
                                        originalTitle:  "Nacionalidad del Conductor Auxiliar",
                                        emptyText:      "Nacionalidad",
                                        required:       "NoVacio,Letras",
                                        valor:          c2 is not empty and c2.nacionalidad is defined?c2.nacionalidad:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'nacionalidad'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    16- Licencia de conducir N°
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_principal_numLicencia',
                                        name:           'numLicencia',
                                        originalTitle:  "N° de Licencia de Conducir del Conductor Principal",
                                        emptyText:      "N° de Licencia de Conducir",
                                        required:       "NoVacio,NumerosConectores",
                                        valor:          c1 is not empty and c1.numLicencia is defined?c1.numLicencia:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'numLicencia'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    17- Libreta de tripulante terrestre N°
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_principal_numLibretaTripulante',
                                        name:           'numLibretaTripulante',
                                        originalTitle:  "N° de la Libreta de Tripulante del Conductor Principal",
                                        emptyText:      "N° de la Libreta de Tripulante",
                                        required:       "NoVacio,NumerosConectores",
                                        valor:          c1 is not empty and c1.numLibretaTripulante is defined?c1.numLibretaTripulante:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'numLibretaTripulante'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    21- Licencia de Conducir N°
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_auxiliar_numLicencia',
                                        clase:          'conductor_auxiliar_crear',
                                        pk:             c2 is not empty and c2.id is defined?c2.id:' ',
                                        name:           'numLicencia',
                                        originalTitle:  "N° de la Licencia de Conducir del Conductor Auxiliar",
                                        emptyText:      "N° de la Licencia de Conducir",
                                        required:       "NoVacio,NumerosConectores",
                                        valor:          c2 is not empty and c2.numLicencia is defined?c2.numLicencia:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'numLicencia'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    22- Libreta de tripulante terrestre N°
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'conductor_auxiliar_numLibretaTripulante',
                                        clase:          'conductor_auxiliar_crear',
                                        pk:             c2 is not empty and c2.id is defined?c2.id:' ',
                                        name:           'numLibretaTripulante',
                                        originalTitle:  "N° de la Libreta de Tripulante del Conductor Auxiliar",
                                        emptyText:      "N° de la Libreta de Tripulante",
                                        required:       "NoVacio,NumerosConectores",
                                        valor:          c2 is not empty and c2.numLibretaTripulante is defined?c2.numLibretaTripulante:' ',
                                        prefetch:       url('list_typeahead_conductores_',{name: 'numLibretaTripulante'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-center title">
                            <div>
                                <div class="text-right pull-right btns-action-right no-quitar">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                        'buttonset': 'horizontal',
                                        'class': 'animate in',
                                        'botones'  : [
                                            {
                                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                                'type'  :   'primary',
                                                'class' :   'unidad-carga-crear animate guardar ' ~ (formato.cargas is empty?'in':'out'),
                                                'url'   :   url('unidad_carga_save_ajax',{
                                                                tipo: formato.tipo.abreviacion|upper,
                                                                numero: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                            }),
                                            },
                                            {
                                                'class' :   'reset unidad-carga-crear animate',
                                                'type'  :   'warning',
                                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                                            },
                                        ],
                                        'sizing': 'pequeño',
                                    } %}
                                </div>
                            </div>
                            {% set carga = formato.cargas is not empty?formato.cargas|first:formato.cargas %}
                            DATOS SOBRE LA CARGA
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    23- Lugar y País de la Carga
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% set dataWith = {
                                        id:             'carga_lugar_carga',
                                        clase:          'carga-crear',
                                        placement:      'top',
                                        name:           'lugarCarga',
                                        pk:             carga is not empty?carga.id:' ',
                                        originalTitle:  "Lugar de la Carga",
                                        emptyText:      "Lugar",
                                        entityName:     "carga",
                                        bundleName:     "formatos" ,
                                        required:       "NoVacio,LetrasConectores",
                                        valor:          carga.lugarCarga is defined?carga.lugarCarga:' ',
                                        prefetch:       url('list_typeahead_cargas_',{name: 'lugarCarga'}),
                                        type:           'typeaheadjs',
                                    } %}
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
                                </div>
                            </div>
                        </td>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    24- Lugar y País de Descarga
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'carga_lugar_descarga',
                                        name:           'lugarDescarga',
                                        originalTitle:  "Lugar de la Descarga",
                                        emptyText:      "Lugar",
                                        required:       "NoVacio,LetrasConectores",
                                        valor:          carga.lugarDescarga is defined?carga.lugarDescarga:' ',
                                        prefetch:       url('list_typeahead_cargas_',{name: 'lugarDescarga'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    25- Naturaleza de la Carga
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'carga_naturaleza',
                                        name:           'naturalezaCarga',
                                        originalTitle:  "Naturaleza de la Carga",
                                        emptyText:      "Naturaleza",
                                        required:       "NoVacio,LetrasConectores",
                                        valor:          carga.naturalezaCarga is defined?carga.naturalezaCarga:' ',
                                        prefetch:       url('list_typeahead_cargas_',{name: 'naturalezaCarga'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    26- Número de Identificación de los contenedores y su capacidad (Indicar si son 20 o 40 pies u otra)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'carga_numContenedores',
                                        name:           'numContenedores',
                                        originalTitle:  "Número de Identificación del Contenedor de la Carga",
                                        emptyText:      "Número de Identificación del Contenedor",
                                        required:       "NoVacio,NumerosLetrasConectores",
                                        valor:          carga.numContenedores is defined?carga.numContenedores:' ',
                                        prefetch:       url('list_typeahead_cargas_',{name: 'numContenedores'}),
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="6">
                            <div class="row">
                                <div class="enunciado col-lg-12 col-md-12">
                                    27- Número(s) de los precintos aduaneros
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             'carga_numPrecintos',
                                        name:           'numPrecintos',
                                        originalTitle:  "Número de Precintos de la Carga",
                                        emptyText:      "Número de Precintos",
                                        required:       "NoVacio,Numeros",
                                        valor:          carga.numPrecintos is defined?(carga.numPrecintos>=0?carga.numPrecintos:''):' ',
                                        type:           'number',
                                    }) %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <table class="table table-bordered table-striped" id="cpics">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="text-center">
                                            <div class="row">
                                                <div>
                                                    <div class="text-right pull-left btns-action-left fuera">
                                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                                            'buttonset': 'horizontal',
                                                            'class': 'animate in',
                                                            'botones'  : [
                                                                {
                                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                                    'type'  :   'success',
                                                                    'class' :   'animate agregar-cpic',
                                                                    'url'   :   url('formato_add_cpic_ajax',{
                                                                                    numero_mci: formato.numero is defined and formato.numero is not empty?formato.numero:-1,
                                                                                }),
                                                                },
                                                            ],
                                                            'sizing': 'pequeño',
                                                        } %}
                                                    </div>
                                                </div>
                                                <div class="enunciado col-lg-12 col-md-12">
                                                    28- Carta de Porte N°
                                                </div>
                                            </div>
                                        </th>
                                        <th colspan="4" rowspan="2" class="text-center">
                                            <div class="row">
                                                <div class="enunciado col-lg-12 col-md-12">
                                                    29- Descripción de las mercancías
                                                </div>
                                            </div>
                                        </th>
                                        <th rowspan="2" class="text-center">
                                            <div class="row">
                                                <div class="enunciado col-lg-12 col-md-12">
                                                    30- Catidad de los bultos
                                                </div>
                                            </div>
                                        </th>
                                        <th rowspan="2" colspan="2" class="text-center">
                                            <div class="row">
                                                <div class="enunciado col-lg-12 col-md-12">
                                                    31- Clase y marca de los bultos
                                                </div>
                                            </div>
                                        </th>
                                        <th colspan="2" class="text-center">
                                            <div class="row">
                                                <div class="enunciado col-lg-12 col-md-12">
                                                    32- Peso en Kilogramos
                                                </div>
                                            </div>
                                        </th>
                                        <th rowspan="2" colspan="2" class="text-center">
                                            <div class="row">
                                                <div class="enunciado col-lg-12 col-md-12">
                                                    33- Volumen en m3 u otra unidad de medida
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">
                                                Bruto
                                        </th>
                                        <th class="text-center">
                                                Neto
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set precioMercancias = 0 %}
                                    {% set tipoMoneda = ' ' %}
                                    {% set incoterm = ' ' %}
                                    {% set pesoBruto = 0 %}
                                    {% set pesoNeto = 0 %}
                                    {% set volumen = 0 %}
                                    {% set volumenOtro = 0 %}
                                    {% for fh in formato.hijos %}
                                        {{ include('PuertoUDESFormatosBundle:Formato:_addCpicAjax.html.twig',{
                                                fila:       loop.index0,
                                                formato:    fh,
                                                numero:     formato.numero
                                            }) 
                                        }}
                                        {#% for cmf in fh.contenedoresMercancias%}
                                            {% set pesoBruto = pesoBruto + (cmf.pesoBruto is defined and cmf.pesoBruto is not empty?cmf.pesoBruto:0) %}
                                            {% set pesoNeto = pesoNeto + (cmf.pesoNeto is defined and cmf.pesoNeto is not empty?cmf.pesoNeto:0) %}
                                            {% set volumen = volumen + (cmf.volumen is defined and cmf.volumen is not empty?cmf.volumen:0) %}
                                            {% set volumenOtro = volumenOtro + (cmf.volumenOtro is defined and cmf.volumenOtro is not empty?cmf.volumenOtro:0) %}
                                        {% endfor %}
                                        {% set precioMercancias = precioMercancias + fh.gastoMercancias is defined and fh.gastoMercancias is not empty and fh.gastoMercancias.valor is defined?fh.gastoMercancias.valor:0 %}
                                        {% set tipoMoneda = fh.gastoMercancias is defined and fh.gastoMercancias is not empty and fh.gastoMercancias.moneda is defined?fh.gastoMercancias.moneda.abreviacion|upper:0 %#}
                                        {% set incoterm = fh.incoterm is defined and fh.incoterm is not empty and fh.incoterm.sigla is defined?fh.incoterm.sigla|upper:0 %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" class="text-center no-border-right">
                                            <div class="row">
                                                <div class="enunciado text-left col-lg-9 col-md-9">
                                                    34- Precio de las mercancías (INCOTERMS 2010) y tipo de monedas
                                                </div>
                                                <div class="col-lg-3 col-md-3">
                                                    <span class="imita">
                                                        {{ incoterm }} {{ formato.getGastoTotalMercancias }} {{ formato.getTipoMoneda is not null?formato.getTipoMoneda.abreviacion|upper:'' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center no-border-left text-midle">
                                                TOTAL
                                        </td>
                                        <td class="text-center text-midle">
                                            <span id="cpic_total_peso_bruto" class="imita" data-name="totalPesoBruto">{{ formato.getTotalPesoBruto }}</span>
                                        </td>
                                        <td class="text-center text-midle">
                                            <span id="cpic_total_peso_neto" class="imita" data-name="totalPesoNeto">{{ formato.getTotalPesoNeto }}</span>
                                        </td>
                                        <td class="text-center text-midle" colspan="2">
                                            <span id="cpic_total_volumen" class="imita" data-name="totalVolumen"> {{ formato.getTotalVolumen }} </span> <br/>
                                            <span id="cpic_total_volumenOtro" class="imita" data-name="totalVolumenOtro"> {{ formato.getTotalVolumenOtro }} </span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                    <tr colspan="12">
                        <td colspan="6" rowspan="2" class="text-center grande">
                            <div class="row">
                                <div class="enunciado text-left col-lg-12 col-md-12">
                                    35- Observaciones de la Aduana de Partida
                                </div>
                            </div>
                            <div class="row">
                                {% set dataWith = {
                                    clase:      "observaciones",
                                    entityName: "formato",
                                    bundleName: "formatos" ,
                                    type:           "textarea",
                                    required:   "Vacio,LetrasNumerosConectores",
                                    pk:         formato.id is defined and formato.id is not empty?formato.id:' ',
                                    datos:      {
                                        numero: formato.numero,
                                        tipo: formato.tipo,
                                    },
                                } %}
                                <div class="col-lg-12 col-md-12">
                                    {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                                        id:             "formato_observaciones",
                                        name:           "observaciones",
                                        originalTitle:  "Observaciones de la Aduana de Partida",
                                        emptyText:      "Observaciones",
                                        valor:          formato.observaciones is defined and formato.observaciones is not empty?formato.observaciones:' ',
                                    }) %}
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar aduanas-cruce',
                                                    'url'   :   url('aduana_add_mci_ajax',{
                                                                    tipo:    'cruce-de-frontera',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                <div class="enunciado text-left col-lg-12 col-md-12">
                                    37- Aduana(s) de Cruce de Frontera
                                </div>
                            </div>
                            <div id="aduanas-cruce">
                                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                    {% for ac in formato.aduanasCruce %}
                                        {{ include('PuertoUDESCommonBundle:Aduana:_addAduanaMciAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                aduana:         ac,
                                                tipo:            'cruce-de-frontera',
                                                fila:           loop.index0,
                                            }) 
                                        }}
                                    {% else %}
                                        {{ include('PuertoUDESCommonBundle:Aduana:_addAduanaMciAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                tipo:            'cruce-de-frontera',
                                                fila:           0,
                                            }) 
                                        }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="row">
                                <div>
                                    <div class="text-right pull-right btns-action-right">
                                        {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                                            'buttonset': 'horizontal',
                                            'class': 'animate in hidden-print',
                                            'botones'  : [
                                                {
                                                    'label' :   '<span class="glyphicon glyphicon-plus"></span>',
                                                    'type'  :   'success',
                                                    'class' :   'animate agregar aduanas-destino',
                                                    'url'   :   url('aduana_add_mci_ajax',{
                                                                    tipo:    'destino',
                                                                    numero: formato.numero,
                                                                }),
                                                },
                                            ],
                                            'sizing': 'pequeño',
                                        } %}
                                    </div>
                                </div>
                                <div class="enunciado text-left col-lg-12 col-md-12">
                                    38- Aduana(s) de Destino
                                </div>
                            </div>
                            <div id="aduanas-cruce">
                                {% if formato.id is defined and formato.id is not empty and formato.numero is defined and formato.numero is not empty %}
                                    {% for ac in formato.aduanasCruce %}
                                        {{ include('PuertoUDESCommonBundle:Aduana:_addAduanaMciAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                aduana:         ac,
                                                tipo:            'destino',
                                                fila:           loop.index0,
                                            }) 
                                        }}
                                    {% else %}
                                        {{ include('PuertoUDESCommonBundle:Aduana:_addAduanaMciAjax.html.twig',{
                                                abreviacion:    formato.tipo.abreviacion|upper,
                                                numero:         formato.numero,
                                                tipo:            'destino',
                                                fila:           0,
                                            }) 
                                        }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" rowspan="3" class="text-center">
                            <div class="row">
                                <div class="text-justify col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                                    El suscrito al hacerse cargo de las mercancías, se obliga a cumplir con las disposiciones de las normas que conforman el ordenamiento jurídico de la Comunidad Andina, en particular con la decisión 399 y su reglamento En las presentes observaciones de transporte internacional por carretera
                                </div>
                            </div>
                                <br/>
                            <div class="clear clearfix"></div>
                            <div class="row">
                                <div class="enunciado text-left col-lg-12 col-md-12">
                                    39- Nombre, firma y sello del transportista autorizado o su representante
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center grande">
                            <div class="row">
                                <div class="enunciado text-left col-lg-12 col-md-12">
                                    36- Firma y sello de la autoridad que interviene en la Aduana de Partida
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="enunciado text-left col-lg-12 col-md-12">
                                    Fecha de Emisión
                                </div>
                            </div>
                        </td>
                            <td colspan="6">
                            </td>
                    </tr>
            </tbody>
        </table>    
    </div>
</div>