{% extends '::base.html.twig' %}

{% block body -%}
    {% if only_form is defined %}
        {{ form(edit_form) }}
    {% elseif entity.tipo is defined and entity.tipo.abreviacion is defined %}
        <div class="page-content">
            <div class="menu-hoja">
                <a class="btn btn-primary" href="{{- app.request.headers.get('referer') -}}">
                    Volver
                </a>

                <a class="btn btn-success pull-right" href="javascript:window.print();">
                    Imprimir
                </a>
            </div>
            {% include 'PuertoUDESFormatosBundle:Formato:_' ~ entity.tipo.abreviacion ~ '.html.twig' with {
                    formato: entity
                } %}
        </div>
            
    {% else %}
        <h1>Formato edit</h1>
        
        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('formato_') }}">
                    Volver
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    
    {% endif %}

{% endblock %}
