{% extends '::base.html.twig' %}

{% block body -%}
    {% if only_form is defined %}
        {{ form(edit_form) }}
    {% elseif entity.tipo is defined and entity.tipo.abreviacion is defined %}
<a class="btn btn-primary" href="{{- app.request.headers.get('referer') -}}">
    Volver
</a>

<a class="btn btn-success pull-right" href="javascript:window.print();">
    Imprimir
</a>
        {#
        Valida que únicamente sean los formatos construidos. MCI, CPIC y DTAI
        {% if 'mci' in entity.tipo.abreviacion or 'cpic' in entity.tipo.abreviacion or 'dtai' in entity.tipo.abreviacion%}
        #}
            {% include 'PuertoUDESFormatosBundle:Formato:_' ~ entity.tipo.abreviacion ~ '.html.twig' with {
                    formato: entity
                } %}
        {#% endif %#}
            
    {% else %}
        <h1>Formato edit</h1>
        
        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('formato_') }}">
                    Volver
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    
    {% endif %}

{% endblock %}
