{% set extension = '::base_bootstrap_cover.html.twig' %}
{% if app.user  %}
    {% set extension = '::base_bootstrap.html.twig' %}
{% endif %}
{% extends extension %}
{% block body -%}
{{ parent() }}
{% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div id="carousel-sesion" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
          <li data-target="#carousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{{ asset('bundles/puertoudescommon/images/logo.jpeg') }}" alt="PuertoUDES">
            <div class="carousel-caption">
                <h1>Puerto UDES</h1>
                <span>Administración de Formatos para Puertos Terrestres de la DIAN</span>
            </div>
          </div>
          <div class="item">
            <img src="{{ asset('bundles/puertoudescommon/images/puerto_terrestre1.jpeg') }}" alt="Características">
            <div class="carousel-caption">
                <h1>Características</h1>
                <span class="left">Administración digital de los formatos de la DIAN</span>
                <span class="right">Organización de la información de los formatos</span>
            </div>
          </div>
          <div class="item">
            <img src="{{ asset('bundles/puertoudescommon/images/puerto_terrestre.jpeg') }}" alt="Que puedes hacer?">
            <div class="carousel-caption">
                <h1>Que Puedes Hacer</h1>
                <span class="left">Conocer quien ha hecho el formato y cuando</span>
                <span class="right">Encontrar fácilmente la información almacenada</span>
            </div>
          </div>
          <div class="item">
            <img src="{{ asset('bundles/puertoudescommon/images/puerto_terrestre2.jpeg') }}" alt="Acerca de">
            <div class="carousel-caption">
                <h1>Acerca de</h1>
                {#<span class="left"></span>
                <span class="right"></span>#}
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    {#<div class="row row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:remesaAjax')) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:facturaAjax')) }}
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:diAjax')) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:mciAjax')) }}
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:cacfAjax')) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:cpicAjax')) }}
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:dtaiAjax')) }}
        </div>
    </div>#}
{% endif %}
    
{% endblock %}
