{% set extension = '::base_bootstrap_cover.html.twig' %}
{% if app.user  %}
    {% set extension = '::base_bootstrap.html.twig' %}
{% endif %}
{% extends extension %}
{% block body -%}
{{ parent() }}
{% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="row row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:remesaAjax')) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:facturaAjax')) }}
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:diAjax')) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:mciAjax')) }}
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:cacfAjax')) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:cpicAjax')) }}
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ render(controller('PuertoUDESFormatosBundle:Formato:dtaiAjax')) }}
        </div>
    </div>
{% endif %}
    
{% endblock %}
