<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Puerto UDES {% block title %}{% endblock %}</title>
        {% stylesheets 
            'bundles/puertoudescommon/css/bootstrap.min.css'
            'bundles/puertoudescommon/css/bootstrap-theme.min.css'
            'bundles/puertoudescommon/xeditable/bootstrap-editable/css/bootstrap-editable.css'
            'bundles/puertoudescommon/css/bootstrap-typeahead-theme.css'
            'bundles/puertoudescommon/css/datepicker.css'
            'bundles/puertoudescommon/js/select2-3.4.6/select2.css'
            'bundles/puertoudescommon/js/select2-3.4.6/select2-bootstrap.css'
            'bundles/puertoudescommon/css/index.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
            
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/puertoudescommon/images/logo_icon.png') }}" />
    </head>
    <body>
        <div class="container">
            <header>
                {% block navbar -%}
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style=" z-index: 9;}; ">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url('index_') }}">
                            Puerto UDES
                            <img class="icon" style="width: 30px;" src="{{ asset('bundles/puertoudescommon/images/logo_icon.png') }}" alt="PuertoUDES">
                        </a>
                    </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                        {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Ayuda
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li>
                                        <a target="_blank" href="{{ asset('bundles/puertoudescommon/doc/manual-de-usuario.pdf') }}">Manual</a>
                                        <a target="_blank" href="{{ asset('bundles/puertoudescommon/doc/videotutorial.mp4') }}">Video-tutorial</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            {#<li><a href="#">Que es?</a></li>#}
                            <li><a href="#">Características</a></li>
                            <li><a href="#">Para que sirve?</a></li>
                            {#<li><a href="#">Cómo usarlo</a></li>#}
                            <li><a href="#">Acerca de</a></li>
                        {% endif %}
                        </ul>
                            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Entidades
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                                <a href="{{ path('entidad__remitentes',{'id':app.user.id}) }}">Remitentes</a>
                                                <a href="{{ path('entidad__destinatarios',{'id':app.user.id}) }}">Destinatarios</a>
                                                <a href="{{ path('entidad__transportistas',{'id':app.user.id}) }}">Transportista</a>
                                                <a href="{{ path('entidad__consignatarios',{'id':app.user.id}) }}">Consignatarios</a>
                                                <a href="{{ path('entidad__notificados',{'id':app.user.id}) }}">Notificados</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Formatos
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                                <a href="{{ path('formato_',{'id':app.user.id}) }}">Formatos</a>
                                                <a href="{{ path('formato__remesa',{'id':app.user.id}) }}">Remesa</a>
                                                <a href="{{ path('formato__factura',{'id':app.user.id}) }}">Factura</a>
                                                <a href="{{ path('formato__di',{'id':app.user.id}) }}">Declaración de Importación</a>
                                                <a href="{{ path('formato__mci',{'id':app.user.id}) }}">Manifiesto de Carga Internacional</a>
                                                <a href="{{ path('formato__cacf',{'id':app.user.id}) }}">Control de Aduana de Cruce de Frontera</a>
                                                <a href="{{ path('formato__cpic',{'id':app.user.id}) }}">Carta de Porte Internacional por Carretera</a>
                                                <a href="{{ path('formato__dtai',{'id':app.user.id}) }}">Declaración de Tránsito Aduanero Internacional</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Carga
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                                <a href="{{ path('mercancia_',{'id':app.user.id}) }}">Mercancias</a>
                                                <a href="{{ path('vehiculo_',{'id':app.user.id}) }}">Vehiculos</a>
                                                <a href="{{ path('conductor_',{'id':app.user.id}) }}">Conductores</a>
                                                <a href="{{ path('contenedor_',{'id':app.user.id}) }}">Contenedor</a>
                                                <a href="{{ path('unidadCarga_',{'id':app.user.id}) }}">Unidad de Carga</a>
                                                <a href="{{ path('carga_',{'id':app.user.id}) }}">Cargas</a>
                                                <a href="{{ path('tipo__naturalezasCarga',{'id':app.user.id}) }}">Naturalezas de la Carga</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Usuarios
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                                <a href="{{ path('usuario_',{'id':app.user.id}) }}">Usuarios</a>
                                                <a href="{{ path('usuario__docentes',{'id':app.user.id}) }}">Docentes</a>
                                                <a href="{{ path('usuario__estudiantes',{'id':app.user.id}) }}">Estudiantes</a>
                                                <a href="{{ path('grupo_',{'id':app.user.id}) }}">Grupos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Otros
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                                <a href="{{ path('bulto_',{'id':app.user.id}) }}">Bulto</a>
                                                <a href="{{ path('pais_',{'id':app.user.id}) }}">Paises</a>
                                                <a href="{{ path('lugar_',{'id':app.user.id}) }}">Lugares</a>
                                                <a href="{{ path('moneda_',{'id':app.user.id}) }}">Monedas</a>
                                                <a href="{{ path('aduana_',{'id':app.user.id}) }}">Aduanas</a>
                                                <a href="{{ path('incoterm_',{'id':app.user.id}) }}">Incoterms</a>
                                                <a href="{{ path('rol_',{'id':app.user.id}) }}">Roles de Usuarios</a>
                                                <a href="{{ path('tipo__tiposFormatos',{'id':app.user.id}) }}">Tipos de Formatos</a>
                                                <a href="{{ path('tipo__nivelesAduana',{'id':app.user.id}) }}">Niveles de Aduanas</a>
                                                <a href="{{ path('unidad_',{'id':app.user.id}) }}">Unidades de Medida</a>
                                                <a href="{{ path('permisoPresentaServicio_',{'id':app.user.id}) }}">Permisos Presentación Servicio</a>
                                                <a href="{{ path('tipo__licenciasConductor',{'id':app.user.id}) }}">Clases de Licencias de Conducción</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            {{ app.user.username }}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                                <a href="{{ path('usuario__edit',{'id':app.user.usuario.id}) }}">Editar Perfil</a>
                                                <a href="{{ path('fos_user_profile_edit',{'id':app.user.id}) }}">Editar Cuenta</a>
                                                <a href="{{ path('fos_user_change_password',{'id':app.user.id}) }}">Cambiar Clave</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                      <a href="{{ path('fos_user_security_logout') }}">
                                          Salir
                                      </a>
                                    </li>
                                </ul>
                            {% else %}
                            <div class="navbar-form navbar-right">
                                {% block login %}
                                    {% render controller("FOSUserBundle:Security:login", {ajax: true}) %}
                                {% endblock login %}
                            </div>
                            {% endif %}
                    </div><!-- /.navbar-collapse -->
                </nav>
                {% endblock %}
            </header>
            <section id="body">
            {% block body -%}
                
            {% endblock %}
            </section>
            <footer>
            {% block footer -%}
                
            {% endblock %}
            </footer>
        </div>
        <section id="componentes">
            <div id="mensajes"></div>
            <div id="javascripts">
                {% javascripts 
                    '@PuertoUDESCommonBundle/Resources/public/js/modernizr.custom.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/jquery-1.10.2.min.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/bootstrap.min.js'
                    '@PuertoUDESCommonBundle/Resources/public/xeditable/bootstrap-editable/js/bootstrap-editable.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/js_functions.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/bootstrap-datepicker.es.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/bootstrap-datepicker.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/typeahead.min.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/select2-3.4.6/select2.min.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/select2-3.4.6/select2_locale_es.js'
                    '@PuertoUDESCommonBundle/Resources/public/js/index.js'
                 %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
                {% block javascript %}{% endblock %}
            </div>
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
              <div id="mDialog">
                <div class="modal-content" id="mContent">
                  <div class="modal-header" id="mHeader">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mTitle">Titulo</h4>
                  </div>
                  <div class="modal-body" id="mBody">
                    ...
                  </div>
                  <div class="modal-footer" id="mFooter">
                      <div class="btn-group btn-group-lg">
                           
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    {# <button type="button" class="btn btn-primary">Save changes</button>#}
                  </div>
                </div>
              </div>
            </div>
        </section>
    </body>
</html>