
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
            <tr>
                <th>Aniofabrica</th>
                <td>{{ entity.anioFabrica|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Placa</th>
                <td>{{ entity.placa }}</td>
            </tr>
            <tr>
                <th>Numeroseriechasis</th>
                <td>{{ entity.numeroSerieChasis }}</td>
            </tr>
            <tr>
                <th>Certificadohabilitacion</th>
                <td>{{ entity.certificadoHabilitacion }}</td>
            </tr>
        </tbody>
    </table>

    {{ form(delete_form) }}
