{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gasto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valorflete</th>
                <th>Otrosgastos</th>
                <th>Fechacreado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gasto__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.valorFlete }}</td>
                <td>{{ entity.otrosGastos }}</td>
                <td>{% if entity.fechaCreado %}{{ entity.fechaCreado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gasto__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gasto__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('gasto__new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
