{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContenedorMercanciaFormato list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pesobruto</th>
                <th>Pesoneto</th>
                <th>Volumen</th>
                <th>Fechacreado</th>
                <th>Numbultos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contenedorMercanciaFormato__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pesoBruto }}</td>
                <td>{{ entity.pesoNeto }}</td>
                <td>{{ entity.volumen }}</td>
                <td>{% if entity.fechaCreado %}{{ entity.fechaCreado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.numBultos }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contenedorMercanciaFormato__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contenedorMercanciaFormato__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contenedorMercanciaFormato__new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
